<section id="details" class="card flex-fill">
    <form action="{{ path('scenario_delete_details', {'id':scenario}) }}" method="post">
        <div class="card-header d-flex justify-content-between">
            <div class="flex-fill">
                <button class="text-white bg-transparent border-0 p-0 btn btn-link btn-sm" type="button" data-toggle="collapse"
                        data-target="#scenario-details" aria-expanded="false"
                        aria-controls="scenario-details">
                    Details
                </button>
            </div>
            <div class="btn-group btn-group-sm">
                <a href="{{ path('scenario_details_new', {'scenario': scenario.id}) }}" class="btn btn-link btn-sm">Add Scenario Details</a>
                <a href="{{ path('scenario_generate_details',  {"id": scenario}) }}" class="btn btn-link btn-sm">Generate Scenario details</a>
                <button type="submit" id="btn-scenario-delete-details" class="btn btn-link btn-sm">Delete Details</button>
            </div>
        </div><!-- .card-header -->
        <table class="text-right collapse" id="scenario-details">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Title</th>
                <th>value</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            {% set balance = 0 %}
            {% for scenario_details in scenario.scenarioDetails %}
                {% set balance = balance + scenario_details.value %}
                <tr data-id="{{ scenario_details.id }}" class="text-{{ (0 > balance)? "success":"danger" }}">
                    <td>
                        <label class="d-block form-check m-0">
                            <input type="checkbox" name="scenarioDetails[]"
                                   value="{{ scenario_details.id }}" id="check-{{ scenario_details.id }}"/>
                        </label>
                    </td>
                    <td>{{ scenario_details.date|date }}</td>
                    <td>
                        <a href="{{ path('scenario_details_edit', {'scenario': scenario, 'id': scenario_details.id}) }}">
                            {{ scenario_details.title }}
                        </a>
                    </td>
                    <td>{{ scenario_details.value|number_format }}</td>
                    <td>{{ balance|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="card-footer">
            <div class="d-flex justify-content-around text-{{ (0 > balance)? "success":"danger" }}">
                {% if scenario.scenarioDetails|length %}
                    <div>{{ scenario.scenarioDetails|first.date|date }}
                        - {{ scenario.scenarioDetails|last.date|date }}
                    </div>
                    <div>
                        <b>Total</b>
                        <b>EGP {{ balance|number_format }}</b>
                    </div>
                {% endif %}
            </div><!-- .d-flex -->
        </div><!-- .card-footer -->
    </form>

</section><!-- #details -->
