{% extends 'base.html.twig' %}

{% block title %}Scenario{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"/>
{% endblock %}
{% block content %}
    <a href="{{ path('scenario_index') }}">back to list</a>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h1 class="flex-fill">Scenario: {{ scenario.title }}</h1>
            {{ include('scenario/_delete_form.html.twig') }}

        </div><!-- .card-header -->
        <div class="d-flex justify-content-around">
            <section id="details" class="card flex-fill">
                <style>
                    table.dataTable tbody tr {
                        background-color: transparent;
                    }

                    .table-hover tbody tr:hover {
                        background-color: black;
                    }


                    #scenario-est th:first-child {
                        width: 1%;
                    }

                </style>
                <table class="table table-striped datatable text-right" id="scenario-est">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th id="sum">Value</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
                {# <table class="table table-striped datatable text-right d-none" id="scenario"> #}
                {# <thead> #}
                {# <tr> #}
                {# <th>id</th> #}
                {# <th>Date</th> #}
                {# <th>Name</th> #}
                {# <th>Value</th> #}
                {# <th>Balance</th> #}
                {# </tr> #}
                {# </thead> #}
                {# <tbody> #}
                {# {% set balance = 0 %} #}
                {# {% for est in ests %} #}
                {# {% set balance = balance + est.value %} #}
                {# <tr data-id="{{ est.id }}" #}
                {# class="text-{{ (0 > balance)? "success":"danger" }}"> #}
                {# <td>{{ est.id }}</td> #}
                {# <td data-order="{{ est.date|date('c') }}">{{ est.date|date }}</td> #}
                {# <td> #}
                {# {{ est.name }} #}
                {# </td> #}
                {# <td>{{ est.value|number_format }}</td> #}
                {# <td>{{ balance|number_format }}</td> #}
                {# </tr> #}
                {# {% endfor %} #}
                {# </tbody> #}
                {# </table> #}
                {# <div class="card-footer"> #}
                {# <div class="d-flex justify-content-around text-{{ (0 > balance)? "success":"danger" }}"> #}
                {# <div>{{ ests|first.date|date }} #}
                {# - {{ ests|last.date|date }} #}
                {# </div> #}
                {# <div> #}
                {# <b>Total</b> #}
                {# <b>EGP {{ balance|number_format }}</b> #}
                {# </div> #}
                {# </div> #}
                {# </div> #}
            </section><!-- #details -->

        </div><!-- .d-flex -->
    </div><!-- .card -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script src="//cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.24/api/sum().js"></script>
    <script>
        let data = [{% for est in ests %}[{{ est.id }}, "{{ est.name }}", "{{ est.date }}",{{ est.value }}, 0],{% endfor %}];
        let table;

        let rowSum = 0;
        for (const dataKey in data) {
            rowSum = parseInt(rowSum, 10) + parseInt(data[dataKey][3], 10);
            data[dataKey][4] = rowSum;
        }

        function calcBalance(e, diff, edit) {
            let rowSum = 0, $rowClass;
            table.rows().every(function (index, element) {
                rowSum = parseInt(rowSum, 10) + parseInt(this.data()[3], 10);
                $rowClass = 'text-success';
                if (rowSum > 0) {
                    $rowClass = 'text-danger';
                }
                $(this.node())
                    .removeClass('text-success')
                    .removeClass('text-danger')
                    .addClass($rowClass)
                    .find('td').eq(4).html(rowSum);
            });
        }

        $(function () {
            table = $('#scenario-est').DataTable({
                data: data,
                rowReorder: true,
                select: true,
                paging: false,
            });
            table.on('row-reorder', calcBalance);

        });
    </script>
{% endblock %}