{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/scenario.css') }}"/>
{% endblock %}
{% block content %}
    <h1>Scenario index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.title }}</td>
                <td>
                    <div class="btn btn-group btn-group-sm">
                        <a href="{{ path('scenario_show', {'id': scenario.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('scenario_edit', {'id': scenario.id}) }}" class="btn btn-primary">Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scenario_new') }}">Create new</a>
{% endblock %}
