{% extends 'base.html.twig' %}

{% block title %}Scenario{% endblock %}

{% block content %}
    <a href="{{ path('scenario_index') }}">back to list</a>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h1 class="flex-fill">Scenario: {{ scenario.title }}</h1>
                {{ include('scenario/_delete_form.html.twig') }}

        </div><!-- .card-header -->
        <div class="d-flex justify-content-around">
            {{ include('scenario/_details.html.twig', {'scenario':scenario}) }}
            {{ include('scenario/_objectives.html.twig', {'scenario':scenario}) }}
        </div><!-- .d-flex -->
    </div><!-- .card -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#scenario-details tbody tr').dblclick(function () {
                $('#check-' + $(this).data('id')).click();
            });
            $('#scenario-objective tbody tr').dblclick(function () {
                $('#check-' + $(this).data('id')).click();
            });
        });
    </script>
{% endblock %}