{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelBack %}{{ a.back('notes_show', {'id':note.id}) }}{% endblock %}
{% block panelTitle %}Edit note{% endblock %}
{% block panelTitleSmall %}{{ note.note|truncate(10) }}{% endblock %}
{% block panelTitleLabels %}
  <span class="badge badge-info">{{ note.type|title }}</span> 
  <span class="badge badge-primary">
    {% if note.createdAt %}{{ note.createdAt|date('Y-m-d H:i:s') }}{% endif %}
  </span>
{% endblock %}
{% block panelHeadingRight %}{{ forms.delete(delete_form) }}{% endblock %}
{% block panelBody %}{{ forms.panel(notes_form, false) }}{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/tinymce/tinymce.min.js"></script>
  <script>tinymce.init({selector: '#notes_note'});</script>
{% endblock %}