{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block title %}{{ client.name }}{% endblock %}

{% block panelBack %}{{ a.back('client_index') }}{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('client_edit', {'id':client.id}) }}
  {{ forms.delete(delete_form) }}

{% endblock %}

{% block content %}
  <div class="container">
    <h2><small>Client</small> {{ client.name}}</h2>
    {% set accounts = client.accounts %}
    {% set hideEmpty = false %}
    {% include 'AppBundle:accounts:accounts_list.html.twig' %}
  </div>
{% endblock %}

