{% macro itemIcons(urgency = 0, priority = 0) %}
    {% if urgency %}
        <span class="badge badge-warning">U</span>
    {% endif %}
    {% if priority > 0 %}
        <span class="badge badge-danger">H</span>
    {% elseif priority < 0 %}
        <span class="badge badge-secondary">L</span>
    {% endif %}
{% endmacro %}

{% macro ul(items, attributes) %}
    {% import _self as itemUI %}
    <div class="item-list {{ (attributes.class is defined) ? attributes.class }}" {{ (attributes.id is defined) ? 'id='~ attributes.id }}>
        {% for item in items %}
            {{ itemUI.show(item, attributes) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro show(item) %}
    <div class="card widget-flat widget-{{ (item.urgency)? 'warning' : (item.priority>0)? 'danger': (item.priority<0)?'default':'info' }} item-item {{ item.completed ? "completed" }}"
         data-order="id_{{ item.id }}"
         id="item_{{ item.id }}"
         data-id="{{ item.id }}"
         data-est="{{ item.est }}"
         data-list="{{ item.shoppingList.id }}"
    >
        <div class="card-header">
            <div class="item-actions float-right">
                <a href="#" class="card-toggle three-dot-menu collapsed"
                   data-toggle="collapse" data-target="#item-body-{{ item.id }}" aria-expanded="false"
                   aria-controls="item-body-{{ item.id }}">
                    <div></div>
                </a>
            </div>
            <div class="d-none item-actions dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex flex-row">
                        {% if(not item.completed) %}
                            <a href="javascript:void(0);" class="postpone dropdown-item" data-itemid="{{ item.id }}"
                               data-postpone="+20 min" title="20 mins"><i class="fas fa-stopwatch"></i></a>
                            <a href="javascript:void(0);" class="postpone dropdown-item" data-itemid="{{ item.id }}"
                               data-postpone="tomorrow" title="tomorrow"><i class="fas fa-bed"></i></a>
                        {% endif %}
                        <!-- item-->
                        <a href="{{ path('shopping_item_edit', { 'id': item.id }) }}"
                           class="dropdown-item" title="Edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div><!-- d-flex -->
                </div><!-- dropdown-menu -->
            </div><!-- item-actions dropdown -->
            <label class="m-0 item-label">
                <input type="checkbox" data-itemid="{{ item.id }}" {{ item.completed ? "checked" : "" }} class="mr-1"/>
                <span class="font-weight-normal m-0 d-inline" title="{{ item.name }}">{{ item.name }}</span>
            </label>
            <a title="Item List" class="badge badge-default d-none d-md-inline"
               data-itemlist="{{ item.shoppingList.name }}"
               href="{{ path("shopping_list_show", {'id':item.shoppingList.id}) }}">{{ item.shoppingList.name }}</a>
        </div><!-- .card-header -->
        <div class="collapse" id="item-body-{{ item.id }}" aria-labelledby="item-header-{{ item.id }}">
            <div class="card-body d-flex justify-content-around">
                <div class="d-flex flex-column justify-content-around m-1">
          <span>
            <a title="ShoppingList"
               href="{{ path('shopping_list_show', {'id': item.shoppingList.id}) }}">
              {{ item.shoppingList.name }}
            </a>
          </span>
                    {% if item.est %}
                        <span title="EST">EST: {{ item.est ~ "m" }}</span>
                    {% endif %}
                    {% if item.eta %}
                        <span title="ETA: {{ item.eta|date('D M,j Y') }}">ETA: {{ item.eta|date }}</span>
                    {% endif %}
                </div>
                <div class="d-flex flex-column justify-content-around m-1">
                    {% if item.completed %}
                        <span title="Completed: {{ item.completedAt|date('D M, j Y') }}">Completed: {{ item.completedAt|date }}</span>
                    {% endif %}
                    <span title="Created: {{ item.createdAt|date('D M, j Y') }}">Created: {{ item.createdAt|date }}</span>
                </div>
            </div><!-- card-body -->
            <div class="card-footer">
                <div class="d-flex flex-row justify-content-around text-center">

                    {% if(not item.completed) %}
                        <a
                                href="javascript:void(0);"
                                class="postpone"
                                data-itemid="{{ item.id }}"
                                data-postpone="+20 min"
                                title="20 mins">
                            <i class="fas fa-stopwatch"></i>
                        </a>
                        <a
                                href="javascript:void(0);"
                                class="postpone"
                                data-itemid="{{ item.id }}"
                                data-postpone="tomorrow"
                                title="tomorrow">
                            <i class="fas fa-bed"></i>
                        </a>
                    {% endif %}
                    <!-- item-->
                    <a href="{{ path('shopping_item_edit', { 'id': item.id }) }}" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <!-- item-->
                    <a href="{{ path('shopping_item_show', { 'id': item.id }) }}" title="Show">
                        <i class="fas fa-eye"></i>
                    </a>
                </div><!-- d-flex -->
            </div><!-- card-footer -->
        </div><!-- collapse -->
    </div><!-- card item-item -->
{% endmacro %}