{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('notes_new') }}{% endblock %}
{% block panelBack %}{{ a.back('notes_index') }}{% endblock %}
{#{% block panelTitle %}{{ note.note|striptags|truncate(50)|title }}{% endblock %}#}
{% block panelTitle %}{{ note.note|striptags|title }}{% endblock %}
{% block panelTitleLabels %}
    <span class="badge badge-info">{{ note.type|title }}</span>
    {% if note.createdAt %}
        <span class="badge badge-primary">
      {{ note.createdAt|date('Y-m-d H:i:s') }}
    </span>
    {% endif %}
{% endblock %}
{% block panelHeadingRight %}
    {{ a.edit('notes_edit', { 'id': note.id }) }}
    {{ forms.delete(delete_form) }}
{% endblock %}
{% block panelBody %}
    <div class="card-body note">{{ note.note|raw }}</div>

{% endblock %}
