{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% import "macros/badges.html.twig" as badge %}
{% block title %}{{ proposal.title }}{% endblock %}
{% block panelWrapperClass %}w-50 m-auto{% endblock %}
{% block panelBack %}{{ a.back('proposal_detail_index', {'proposal' :propsal.id}) }}{% endblock %}
{% block panelTitle %}proposal_detail: <strong>{{ proposal_detail.title }}</strong>{% endblock %}
{% block panelHeadingRight %}
    <div class="row">
        <div class="col">{{ a.edit('proposal_detail_edit', {'id':proposal_detail.id}) }}</div>
        <div class="col">{{ include('proposal_details/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}
{% block panelBody %}
    <h1>ProposalDetails</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ proposal_detail.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ proposal_detail.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ proposal_detail.body }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ proposal_detail.type }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('proposal_details_index', {'proposal':proposal.id}) }}">back to list</a>

    <a href="{{ path('proposal_details_edit', {'proposal':proposal.id, 'id': proposal_detail.id}) }}">edit</a>

    {{ include('proposal_details/_delete_form.html.twig') }}
{% endblock %}
