{% extends "::base.html.twig" %}

{% block title %}AppBundle:Management:index{% endblock %}

{% block content %}
  <style>
    ol{border: 1px dotted #444; border-radius: 4px; list-style-type: none; padding: 0px;}
    ol li{margin: 10px; background: #444; padding: 5px; border: 1px solid gray; word-wrap: break-word; position: relative;}
    span:not(.glyphicon){border-right: 1px dotted #CCC;margin-right: 5px;padding-right: 5px;}
    .task-list-name{display: inline-block; width: 210px;}
    .task-icons, .task-est{display: inline-block; width: 40px;text-align: right;}
    .task-wrapper{display: inline-block; width: 100%;}
    .task-actions{display: inline-block;}
  </style>
  <div class="well">
    {{ form_start(management_search_form) }}
    {{ form_widget(management_search_form) }}
    <button type="submit" value="Filter" class="btn btn-primary">Search</button>
    <a href="{{ path('management_index') }}" class="btn btn-warning">Del</a>
      {{ form_end(management_search_form) }}
  </div>
  <h2>{{ (filters.search is defined) ? filters.search }}</h2>

  {% for type,result in results %}
    <h3>{{ type }} | {{ result|length }}</h3>
    {% if type == 'days' %}
      {% set days = result %}
      {% include 'AppBundle:days:days_list.html.twig' %}
    {% endif %}
    {% if type == 'clients' %}
      {% set clients = result %}
      {% include 'AppBundle:client:clients_list.html.twig' %}
    {% endif %}
    {% if type == 'accounts' %}
      {% set accounts = result %}
      {% include 'AppBundle:accounts:accounts_list.html.twig' %}
    {% endif %}
    {% if type == 'taskLists' %}
      {% set taskLists = result %}
      {% include 'AppBundle:tasklists:taskLists_list.html.twig' %}
    {% endif %}
    {% if type == 'tasks' %}
    {% endif %}
    {% if type == 'notes' %}
    {% endif %}
  {% endfor %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/management.js"></script>
{% endblock %}