{% extends "base.html.twig" %}
{% import "@App/tasks/tasks_macros.html.twig" as tasks_view %}

{% block title %}@App/Experiments/Accounts{% endblock %}

{% block content %}
    <div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Welcome to the Experiments:Accounts page</h4>
        </div>
        <div class="card-body p-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <hr/>
    {% if data.result is defined %}
        <div class="card text-white">
            <div class="card-header bg-info">
                {{ data.result.experiment|keys|first }}
            </div>
            <div class="card-body">
                <div class="card-title">{{ data.result.account }}</div>
            </div>
            <ul class="list-group list-group-flush task-list">
                {{ tasks_view.ul(data.result.tasks ) }}
            </ul>
        </div>
        <div class="card-footer bg-info text-right">
            EGP {{ data.result.price|number_format }}
        </div>
        </div><!-- .container -->
    {% endif %}
{% endblock %}
