{% extends "::base.html.twig" %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}

{% block title %}AppBundle:Experiments:listTasks{% endblock %}

{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4>Welcome to the Experiments:listTasks page</h4>
      </div>
      <div class="card-body p-2">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
    </div>
    <hr/>
    {% if data.result is defined %}
      <div class="card text-white">
        <div class="card-header bg-info">
          {{ data.result.experiment|keys|first }}
        </div>
        <ul class="list-group list-group-flush task-list">
          {{ tasks_view.li(data.result.task ) }}
        </ul>
      </div>

      <div class="card-footer bg-info text-right">
        EGP {{ data.result.price|number_format }}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
