{% import "macros/a.html.twig" as a %}
{% import "macros/badges.html.twig" as badge %}
<table class="table table-striped table-hover table-dark table-bottom-border table-sm mb-0 accounts-summary">
    <tbody>
    {% set total = 0 %}
    {% for account in accounts %}
        {% if account.balance or not hideEmpty %}
            {% set total = total + account.balance %}
            <tr class="text-{{ account.balance == 0 ? "default" : account.balance < 0 ? "success": "danger" }}">
                <td>
                    {{ account.name }}
                    {% if(account.client) %}
                        <span class="badge badge-secondary text-muted d-none d-md-inline-block">{{ account.client.name }}</span>
                    {% endif %}
                    <br/>
                    <span class="float-right">EGP&nbsp;{{ account.balance|number_format }}</span>
                </td>
                {# <td>EGP&nbsp;{{ account.balance|number_format }}</td> #}
                <td>
                    <div class="btn-group btn-group-sm">
                        {{ a.show('accounts_show', { 'id': account.id }) }}
                        {{ a.add('accounttransactions_new', { 'account': account.id }) }}
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="text-{{ total <= 0 ? "success" : "danger" }}">
        <th colspan="3">
            <div class="money-egp" style="width: 125px; margin: 0 auto;">
                {{ total|number_format }}
            </div>
        </th>
    </tr>
    </tfoot>
</table>