{{ form_start(form) }}
{{ form_widget(form.list) }}
<hr/>
{{ form_row(form.title) }}
{{ form_row(form.description) }}
<div class="d-flex flex-form">
  {{ form_row(form.priority) }}
  {{ form_row(form.sort) }}
</div>
<div class="d-flex flex-form">
  {{ form_row(form.rate) }}
  {{ form_row(form.est) }}
  {{ form_row(form.offer) }}
</div>
<div class="d-flex flex-form">
  {{ form_row(form.isApproved) }}
  {{ form_widget(form.approvedAt) }}
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}