{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block title %}Edit {{ feature.title }}{% endblock %}
{% block panelWrapperClass %}{% endblock %}
{% block panelBack %}{{ a.back('feature_index') }}{% endblock %}
{% block panelTitle %}{{ feature.title }}{% endblock %}
{% block panelHeadingRight %}{{ include('feature/_delete_form.html.twig') }}{% endblock %}
{% block panelBody %}
  {#    {{ forms.panel(form, false) }}#}
  <div class="card-body">
    {{ include('feature/_form.html.twig', {'button_label': 'Update'}) }} 
  </div>
{% endblock %}



