{% set bb = bottom_bar %}
<span id="bottom-bar-btn">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 30 22"><path fill="#AAA"
                                                                                           d="M21.1 18.3c.8.8.8 2 0 2.8-.4.4-.9.6-1.4.6s-1-.2-1.4-.6L12 14.8l-6.3 6.3c-.4.4-.9.6-1.4.6s-1-.2-1.4-.6a2 2 0 0 1 0-2.8L9.2 12 2.9 5.7a2 2 0 0 1 0-2.8 2 2 0 0 1 2.8 0L12 9.2l6.3-6.3a2 2 0 0 1 2.8 0c.8.8.8 2 0 2.8L14.8 12l6.3 6.3z"></path></svg>
</span>
<ul class="nav" {{ 1 == app.request.cookies.get('bottom-bar-closed') ? 'style="display:none;"' }}>
    <li class="dropdown">
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Progress
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="d-md-block d-sm-none progress-bars">
                {% set progressBar = bb.getProgress() %}
                {% set costOfLife = progressBar['costOfLife'] %}
                {% set earned = progressBar['earned'] %}
                {% set issuedThisMonth = progressBar['issuedThisMonth'] %}
                {% for key, progress in progressBar['earned'] %}
                    {% if 'monthly' == key %}
                        {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress, 'issued': issuedThisMonth} %}
                    {% else %}
                        {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </li>
    <li class="dropdown">
        {% set contracts = bb.getContractsProgress() %}
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Contracts
        </a>
        <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuLink">
            {% for contract in contracts %}
                <a class="dropdown-item"
                   href="{{ path('focus', {'client': contract.client.id}) }}">
                    {{ contract.name }}
                </a>
                <div class="progress" title="todaysProgress - {{ contract.progress.dailyTarget/60 }}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ contract.progress.todaysProgress }}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{ contract.progress.todaysProgress }}%">
                        {{ contract.progress.todaysProgress|number_format }}%
                    </div>
                </div>
                <div class="progress" title="contractProgress - {{ contract.progress.monthlyMinutes/60 }}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ contract.progress.contractProgress }}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{ contract.progress.contractProgress }}%">
                        {{ contract.progress.contractProgress|number_format }}%
                    </div>
                </div>
            {% endfor %}
        </div>
    </li>
    <li class="dropdown">
        {% set tasks = bb.getTasks() %}
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Tasks
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for task in tasks %}
                <a class="dropdown-item"
                   href="{{ path('focus') }}#task_{{ task.id }}">
                    {{ task.task }}
                    <span class="badge badge-info float-right">{{ task.taskList }}</span>
                </a>
            {% endfor %}
        </div>
    </li>
    <li class="dropdown">
        {% set planner = bb.getPlanner() %}
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            {{ planner.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for objective in planner.objectives %}
                <a class="dropdown-item"
                   href="{{ path('objective_show', {'id': objective.id}) }}">
                    {{ objective.name }}
                </a>
            {% endfor %}
            {% for thing in planner.things %}
                <a class="dropdown-item"
                   href="{{ path('thing_show', {'id': thing.id}) }}">
                    {{ thing.name }}
                </a>
            {% endfor %}
            {% for tasklist in planner.tasklists %}
                <a class="dropdown-item"
                   href="{{ path('tasklists_show', {'id': tasklist.id}) }}">
                    {{ tasklist.name }}
                </a>
            {% endfor %}
        </div>
    </li>
    <li class="dropdown d-none">
        {% set things = bb.getThings() %}
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Things
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for thing in things %}
                <a class="dropdown-item"
                   href="{{ path('thing_show', {'id': thing.id}) }}">
                    {{ thing.name }}
                </a>
            {% endfor %}
        </div>
    </li>
    <li class="dropdown d-none">
        {% set objectives = bb.getObjectives() %}
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button"
           id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Objectives
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for objective in objectives %}
                <a class="dropdown-item"
                   href="{{ path('objective_show', {'id': objective.id}) }}">
                    {{ objective.name }}
                </a>
            {% endfor %}
        </div>
    </li>
</ul>
