{% extends "::base.html.twig" %}

{% block title %}{{ contract.client }}_{{ from|date('Y-m-d') }}_{{ to|date('Y-m-d') }}{% endblock %}
{% block floatingActions %}
  <a class="btn btn-secondary btn-sm d-print-none" role="button"
     href="javascript:window.print();">
    Print
  </a>
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
  <style>
    table.dataTable tbody tr{background-color: transparent;}
    .table-hover > tbody > tr:hover{background-color: black;}
    button, input, optgroup, select, textarea{color: black;}
    table tfoot{display:table-row-group;}

    table.txn tbody td:nth-child(2){
      width: 60%; 
    }

    table.txn td:last-child,
    table.txn th:last-child{
      text-align: right;
    }

    @media print {
      a[href]:after {
        content: none !important;
      }
    }
  </style>
{% endblock %}
{% block content %}
  {% set timezone = 'Europe/Helsinki' %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Account</h4>
        <h5>{{ contract.client }}</h5>
      </div>
      <div class="col-md-4">
        <h4>Client</h4>
        <h5>{{ contract.client }}</h5>
      </div>
      <div class="col-md-4">
        <h4>Coverage Period</h4>
        <h5>{{ from }} - {{ to }}</h5>
      </div>
    </div>
    <hr/>
    <hr>
    {% set route_params = app.request.attributes.get('_route_params') %}
    <button type="button" class="btn btn-secondary btn-sm d-print-none" id="initDatatable">Datatable</button>
    <h3>Transactions</h3>
    <table class="table table-bordered table-condensed table-striped" id="accounting_balance">
      <thead>
        <tr>
          <th>#</th>
          <th>Note</th>
          <th>Issued</th>
          <th>Duration (h:m)</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>
              <a class="d-print-none" 
                 href="{{ path('tasks_show', { "id":task.id }) }}">#{{ task.id }}</a>
              <span class="d-none d-print-block">#{{ task.id }}</span>
            </td>
            <td>{{ task.task }}</td>
            <td>{{ task.completedAt|date('Y-m-d')}}</td>
            <td>{{ (task.duration/60)|round(0, 'floor') }}:{{ task.duration%60 }}</td>
          </tr>
        {% endfor %}
        {% for holiday in holidays %}
          <tr>
            <td>
              <span class="d-none d-print-block">#{{ holiday.id }}</span>
            </td>
            <td>{{ holiday.name }}</td>
            <td>{{ holiday.date|date('Y-m-d', timezone)}}</td>
            <td>4:00</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot >
        <tr>
          <td colspan="3" class="text-right">Total</td>
          <th>{{ (total/60)|round(0, 'floor') }}:{{ total%60 }}</th>
        </tr>
        <tr>
          <td colspan="3" class="text-right">Expected</td>
          <th>{{ expected }}:00</th>
        </tr>
        <tr>
          <td colspan="3" class="text-right">Remaining</td>
          <th>{{ remaining }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" ></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" ></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js" ></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" ></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" ></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" ></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" ></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" ></script>
  <script>
    $(document).ready(function () {
      $('#initDatatable').click(function () {
        if (!$.fn.DataTable.isDataTable('#accounting_balance')) {
          $('#accounting_balance').DataTable({
            "paging": false,
            "searching": false,
            dom: 'Bfrtip',
            buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
            ]
          });
        } else {
          $('#accounting_balance').DataTable().destroy();
        }
      });
    });
  </script>
{% endblock %}
