{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% import "scheduler/tasks_macros.html.twig" as tasks_view %}

{% block floatingActions %}{{ a.add('tasks_new') }}{% endblock %}

{% block panelTitle %}Scheduler{% endblock %}
{% block panelTitleSmall %}{{ week }}{% endblock %}
{% block panelHeadingRight %}
    <div>
        <a class="btn btn-link btn-sm" href="{{ path('scheduler', {'year': year, 'week': week-1}) }}">Prev</a>
        <a class="btn btn-link btn-sm"
           href="{{ path('scheduler', {'year': 'now'|date('Y'), 'week': 'now'|date('W')}) }}">Reset</a>
        <a class="btn btn-link btn-sm" href="{{ path('scheduler', {'year': year, 'week': week+1}) }}">Next</a>
    </div>
    <div>
        <button class="btn btn-primary btn-sm btn-block" id="save_schedule">Save</button>
    </div>
{% endblock %}

{% block panelBody %}
    <div id="ajax-results"></div>
    <div class="card-body">
        <div class="week">
            {% for day, scheduler in schedulers %}
                <div class="day {{ (scheduler.date < scheduler.today)? "past" : "future" }} {{ (scheduler.isToday)? "today" }}">
                    <div class="day-title">
                        {{ scheduler.dayName }}
                        {{ scheduler.date|date }}
                    </div>
                    {{ tasks_view.ul(scheduler.tasks, {'id': scheduler.date|date('Y-m-d')}) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="garbage" class="card-footer"><p></p></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let scheduler_save_route = "{{ path('scheduler_save')|escape('js') }}";
        let scheduler_delete_route = "{{ path('scheduler_delete')|escape('js') }}";
    </script>
    <script src="{{ asset('/js/scheduler.js') }}"></script>
{% endblock %}