{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}

{% block floatingActions %}{{ a.add('tasks_new') }}{% endblock %}

{% block panelTitle %}Scheduler{% endblock %}

{% block panelBody %}
    <div class="week">
        {% for day, scheduler in schedulers %}
            <div class="day {{ (scheduler.date < scheduler.today)? "past" : "future" }} {{ (scheduler.date == scheduler.today)? "today" }}">
                <div class="day-title">{{ scheduler.dayName }}</div>
                {{ tasks_view.ul(scheduler.tasks, {'id': scheduler.dayName|lower}) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/scheduler.js') }}"></script>
{% endblock %}