{% extends 'base.html.twig' %}

{% block content %}
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>Task</th>
        <th>Created At</th>
        <th>TaskList - Account - Client</th>
        <th>EST</th>
        <th>Completed At</th>
        <th>Logged</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>
            <a href="{{ path('tasks_show', { 'id' : task.id }) }}"
               class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-open"></span>
            </a>
            {{ task.task|truncate(100) }}
          </td>
          <td>{{ (task.createdAt) ? task.createdAt|date }}</td>
          <td>
            <a href="{{ path('completed_tasks',{'taskList':task.taskList.name})}}" class="label label-primary">
              {{ task.taskList.name }}
            </a>
            - 
            {% if(task.taskList.account) %}
              <a href="{{ path('completed_tasks',{'account':task.taskList.account.name})}}" class="label label-info">
                {{ task.taskList.account.name }} 
              </a>
              - 
              {% if(task.taskList.account.client) %}
                <a href="{{ path('completed_tasks',{'client': task.taskList.account.client.name})}}" class="label label-primary">
                  {{task.taskList.account.client.name }}
                </a>
              {% endif %}
            {% endif %}
          </td>
          <td class="text-right">{{ task.est }}</td>
          <td>{{ (task.completedAt) ? task.completedAt|date }}</td>
          <td>
            {% if (task.workLog) %}
              <a href="{{ path('worklog_show', {'id': task.workLog.id })}}"
                 class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-open"></span>
              </a>
            {% else %}
              <a href="{{ path('worklog_new', {'task':task.id}) }}"
                 class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}