{% extends 'base.html.twig' %}
{% import "tasks/tasks_macros.html.twig" as tasks_view %}
{% block title %}Dashboard{% endblock %}
{# TODO: http://bootsnipp.com/user/favorites #}
{% block container %}
  <div class="floating-action dropup">
    <a class="btn btn-info dropdown-toggle" type="button" id="dahboardMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <ul class="dropdown-menu floating-actions" aria-labelledby="dahboardMenuButton">
      <li><a href="{{ path('tasks_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-check"></span></a></li>
      <li><a href="{{ path('tasklists_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span></a></li>
      <li><a href="{{ path('days_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-th-large"></span></a></li>
      <li><a href="{{ path('accounts_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-piggy-bank"></span></a></li>
      <li><a href="{{ path('accounttransactions_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      {% if tasks|length %}
        <div class="panel panel-primary">
          <div class="panel-heading">UnListed</div>
          {{ tasks_view.ul(tasks) }}
        </div>
      {% endif %}
      {% for taskList in taskLists %}
        {% if taskList.tasks|length %}
          {% set tasks = taskList.tasks %}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="panel-title">
                <a href="{{ path('tasklists_show', {"id":taskList.id}) }}">{{ taskList.name }}</a>
              </span><span class="badge">{{ taskList.tasks.count }}</span>
            </div>
            {{ tasks_view.ul(tasks, '',false) }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if accounts|length %}
      {% set hideEmpty = true %}
      {% set plan = costOfLife.monthly %}
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-3">
        {# 500 Dollar plan progress #}
        <div class="progress">
          {% set per = (paid/plan)*100 %}
          {% if per < 100 %}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ per }}%">EGP {{ paid }}</div>
            <div class="progress-bar progress-bar-{{ (19 - "now"|date("d")) > 10 ?"warning":"danger" }}" role="progressbar" style="width:{{ 100 - ((paid/plan)*100) }}%">EGP {{ plan - paid }}</div>
          {% else %}
            {% set per = (100/per)*100%}
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ per }}%">EGP {{ plan }}</div>
            <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ 100 - per }}%">EGP {{ paid - plan }}</div>
            <div class="progress-bar progress-bar-{{ (19 - "now"|date("d")) > 10 ?"warning":"danger" }}" role="progressbar" style="width:{{ 100 - ((paid/plan)*100) }}%">EGP {{ plan - paid }}</div>
          {% endif %}
        </div>
        {% include 'accounts/accounts_list.html.twig' %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
                {% for currency in costOfLife.currencies %}
                <th>{{ currency.code }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for key,col in costOfLife.col %}
              <tr>
                <td>{{ key|capitalize }}</td>
                {% for code, value in col %}
                  <td class="text-right"><span class="pull-left">{{ code|upper }} </span> {{ value|number_format }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if days|length %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {% include 'days/days_list.html.twig' %}
      </div>
    {% endif %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div id="donutchart" style="width: 100%;height: 400px;"></div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Day', 'Tasks'],
    {% for t ,i in tskCnt %}
          ['{{t|slice(0, 3)|upper}}', {{i}}],
    {% endfor %}
        ]);
        var options = {
          legend: 'none',
          pieSliceText: 'label',
          pieHole: 0.4,
          backgroundColor: 'transparent',
          pieSliceBorderColor: '#222222',
        };
        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
      $(window).resize(function () {
        drawChart();
      });
  </script>
{% endblock %}