{% extends 'base.html.twig' %}

{% block container %}
    <div class="floating-action dropup">
        <a class="btn btn-info dropdown-toggle" type="button" id="dahboardMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <ul class="dropdown-menu floating-actions" aria-labelledby="dahboardMenuButton">
            <li><a href="{{ path('tasks_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-check"></span></a></li>
            <li><a href="{{ path('tasklists_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span></a></li>
            <li><a href="{{ path('days_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-th-large"></span></a></li>
            <li><a href="{{ path('accounts_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-piggy-bank"></span></a></li>
            <li><a href="{{ path('accounttransactions_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            {% if tasks|length %}
                <div class="panel panel-primary">
                    <div class="panel-heading">UnListed</div>
                    {% include 'tasks/tasks_list.html.twig' %}
                </div>
            {% endif %}
            {% for taskList in taskLists %}
                {% if taskList.tasks|length %}
                    {% set tasks = taskList.tasks %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><span class="panel-title">{{ taskList.name }}</span> <span class="badge">{{ taskList.tasks.count }}</span></div>
                            {% include 'tasks/tasks_list.html.twig' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if accounts|length %}
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-3">
                {% include 'accounts/accounts_list.html.twig' %}
            </div>
        {% endif %}
        {% if projects|length %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                {% include 'projects/projects_list.html.twig' %}
            </div>
        {% endif %}
        {% if days|length %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                {% include 'days/days_list.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}
