{% extends 'base.html.twig' %}
{% block title %}Focus{% endblock %}
{% block nav %}{% endblock %}
{% block container %}
  <div class="floating-action" style="top: 25px;">
    <a href="{{ path('dashboard') }}" class="bg-embed"><span class="glyphicon glyphicon-home"></span></a>
  </div>
  <div class="floating-action" style="top: 75px;">
    <a href="{{ path('focus') }}" class="bg-embed"><span class="glyphicon glyphicon-refresh"></span></a>
  </div>
  <div class="floating-action" style="top: 125px;">
    <a class="bg-embed" id="cls"><strong>CLS</strong></a>
  </div>
  <div class="floating-action">
    <a class="bg-primary" data-toggle="modal" data-target="#newTask"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
  <div class="container">
    {% include 'tasks/focus-tasks.html.twig' %}
  </div>

  <!-- Modal -->
  <div id="newTask" class="modal fade" role="dialog">
    {{ form_start(task_form) }}
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          {{ form_widget(task_form, {'attr':{'class':'form-group-sm'} }) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Cancel</button>
          <button type="submit" value="Edit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span></button>
        </div>
      </div>
    </div>
    {{ form_end(task_form) }}
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready(function () {
      $('.task-list-name').dblclick(function () {
        $tasklist = $(this).data('tasklist');
        $('.task-list li').each(function () {
          if ($(this).children('.task-list-name').text() != $tasklist) {
            $(this).hide();
          }
        });
      });
      $('#cls').click(function () {
        $('.task-list li').show();
      });
      focusTitle();
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      var timeLeft = 480;
      var timeNeeded = 0;
      var tasks = $('.task-list li').not('.completed');
      var completed = $('.completed');
      var container = $('.container');
      var focus = $('<ul class="list-group task-list" id="focus"></ul>');
      focus.prependTo(container);
      completed.each(function () {
        timeLeft -= $(this).data('time');
        $(this).appendTo(focus);
        $(this).children('.task').addClass('btn-primary').removeClass('btn-default');
      });
      var remainingHeight = ($(window).height() - focus.height()) / $(window).height() * 100;
      tasks.each(function () {
        $est = $(this).data('time');
        timeLeft -= $est;
        if (timeLeft >= 0) {
          $(this).prependTo(focus);
          timeNeeded += $est;
        }
      });
      focus.children('li').not('.completed').each(function () {
        $est = $(this).data('time');
        if ($est) {
          $(this).animate({height: ($est / timeNeeded) * remainingHeight + 'vh'});
        }
        $(this).children('.task').addClass('btn-primary').removeClass('btn-default');
      });
      focus.sortable({
        connectWith: ".task-list",
        placeholder: "ui-state-highlight",
        items: "li:not(.completed)",
        update: function (event, ui) {
          var data = $(this).sortable("serialize", {"key": "tasks[][id]", attribute: "data-order"});
          $.ajax({
            data: data,
            dataType: "json",
            type: 'POST',
            url: tasks_order
          }).done(focusTitle());
        }
      });
    });
  </script>
{% endblock %}
