{% extends 'base.html.twig' %}
{% block title %}{{ tasks|first.task}} - myApp{% endblock %}
{% block container %}
  <div class="floating-action">
    {#        <a href="{{ path('tasks_new') }}" class="bg-primary"><span class="glyphicon glyphicon-plus"></span></a>#}
    <a class="bg-primary" data-toggle="modal" data-target="#newTask"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
  <div class="container">
    {% include 'tasks/focus-tasks.html.twig' %}
  </div>

  <!-- Modal -->
  <div id="newTask" class="modal fade" role="dialog">
    {{ form_start(task_form) }}
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          {{ form_widget(task_form, {'attr':{'class':'form-group-sm'} }) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Cancel</button>
          <button type="submit" value="Edit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span></button>
        </div>
      </div>
    </div>
    {{ form_end(task_form) }}
  </div>
{% endblock %}