{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Tasks</div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Completed</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.task }}</td>
                                    <td>{% if task.completed %}Yes{% else %}No{% endif %}</td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('tasks_show', { 'id': task.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('tasks_edit', { 'id': task.id }) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default panel-group">
                <div class="panel-heading">Days</div>
                {# TODO: color items #}
                {% set status = ['danger', 'warning', 'primary', 'success', 'info'] %}
                {% for day in days %}
                    {% set diff = date(day.deadline).diff(date()) %}
                    <div class="panel panel-default">
                        <table class="table {{ day.complete ? "completed" }} days-table">
                            <tbody>
                                <tr>
                                    <td class="h3 name" style="vertical-align: middle;">
                                        {{ day.name }}
                                        <small class="edit-link">
                                            <sup>
                                                <a href="{{ path('days_edit', { 'id': day.id }) }}" class="btn btn-xs text-warning">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </sup>
                                        </small>
                                    </td>
                                    <td  style="width: 25%;" class="h1 bg-{{ cycle(status, loop.index0 ) }} text-center days">{{ diff.days }}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: bottom;"><sup>{{ day.deadline|date('D M d, Y') }}</sup></td>
                                    <td class="bg-{{ cycle(status, loop.index0 ) }} text-center days-line"><sup>days<br/>{{ diff.invert ? "left" : "passed"}}</sup></td>
                                </tr>
                            </tbody>
                        </table>
                        {# TODO: completed items #}
                        {# <li class="list-group-item">{% if day.complete %}Yes{% else %}No{% endif %}</li> #}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Balance</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td>{{ account.name }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('accounts_show', { 'id': account.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('accounts_edit', { 'id': account.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>           
            </div>
        </div>
    </div>
{% endblock %}
