{% import "tasks/tasks_macros.html.twig" as tasks_view %}
<div class="btn btn-default btn-xs btn-block">{{ interval|date("%d %H:%I") }}</div>
<div class="panel-group">
  {% if unlistedTasks|length %}
    <div class="panel panel-primary">
      <div class="panel-heading">UnListed</div>
      {{ tasks_view.ul(unlistedTasks) }}
    </div>
  {% endif %}
  {% for taskList in taskLists %}
    {% if taskList.status != 'archive' %}
      {% if taskList.tasks|length %}
        {% set tasks = taskList.tasks %}
        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
            <span class="panel-title">
              <a href="{{ path('tasklists_show', {"id":taskList.id}) }}">{{ taskList.name }}</a>
            </span>
            <span class="panel-title-labels">
              {% if (taskList.account) %}
                <a href="{{ path('accounts_show', {'id': taskList.account.id}) }}"
                   class="label label-info">{{ taskList.account.name }}</a>
                {% if (taskList.account.client) %}
                  <a href="{{ path('client_show', {'id': taskList.account.client.id}) }}"
                     class="label label-primary">{{ taskList.account.client.name }}</a>
                {% endif %}
              {% endif %}
            </span>
            <div class="pull-right">
              <span class="label label-default">{{ taskList.tasks.count }}</span>
              <span class="label label-info">{{ taskList.estTotal|date("%d %H:%I") }}</span>
              <button data-toggle="collapse" href="#taskList-{{ taskList.id }}" class="btn btn-primary btn-xs collapsed"><span class="glyphicon glyphicon-collapse"></span></button>
            </div>
          </div>
          <div id="taskList-{{ taskList.id }}" class="panel-collapse collapse">
            {{ tasks_view.ul(tasks, '',false) }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{{ tasks_view.ul(randomTasks) }}
