{% import "macros/a.html.twig" as a %}
<div class="holidays-list card-deck">
  {% for holiday in holidays %}
    {% if (0 == (loop.index0 % 2))%}
      <div class="w-100"></div>
    {% endif %}
    {% set diff = date(holiday.date).diff(date()) %}
    <div class="card widget-flat mb-3 border-info text-info text-white" data-date="{{ holiday.date|date('U') }}">
      <div class="card-header">
        {{ holiday.date|date('D M d, Y') }}
        <div class="float-right">
          <a href="{{ path('holiday_edit', { 'id': holiday.id }) }}">
            <i class="fa fa-calendar-day widget-icon"></i>
          </a>
        </div>
      </div>
      <div class="card-body ">
        <h3 class="">{{ holiday.name }}</h3>
      </div> <!-- end card-body-->
      <div class="card-footer">
        <p class="mb-0  ">
          <i class="fa fa-arrow-{{ diff.invert ? 'up':'down'}}"></i>
          {{ diff.days }}
          days {{ diff.invert ? "left" : "passed"}}
        </p>
      </div>
    </div> <!-- end card-->
  {% endfor %}
</div>