{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% import "macros/badges.html.twig" as badge %}
{% block title %}{{ holiday.name }}{% endblock %}
{% block panelBack %}{{ a.back('holiday_index') }}{% endblock %}
{% block panelTitle %}Client: {{ holiday.name }}{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('holiday_edit', {'id':holiday.id}) }}
  {{ forms.delete(delete_form) }}
{% endblock %}
{% block panelBody %}
  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ holiday.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ holiday.name }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>
          {{ holiday.date ? holiday.date|date('Y-m-d') : '' }}
          <span class="badge badge-info">{{ holiday.date ? holiday.date|time_diff : '' }}</span>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
