{# Default render for add link #}
{% macro add(path, parameters = {}) %}
  {% import _self as a %}
  {{ a.linkGlyph('primary', 'fa fa-plus', path, parameters) }}  
{% endmacro %}

{# Default render for show link #}
{% macro show(path, parameters = {}) %}
  {% import _self as a %}
  {{ a.linkGlyph('info', 'fa fa-eye', path, parameters) }}
{% endmacro %}

{# Default render for edit link #}
{% macro edit(path, parameters) %}
  {% import _self as a %}
  {{ a.linkGlyph('primary', 'fa fa-edit', path, parameters) }}
{% endmacro %}

{# Default render for back link #}
{% macro back(path, parameters = {}) %}
  {% import _self as a %}
  {{ a.linkGlyph('default', 'fa fa-arrow-left', path, parameters) }}
{% endmacro %}

{# Generic render for link with glyphicon #}
{% macro linkGlyph(btnClass = 'default', text, path, parameters = {}) %}
  <a href="{{ path(path, parameters) }}" role="button"
     class="hidden-print btn  btn-{{btnClass}}" title="">
    {% if text starts with 'fa ' or text starts with 'fas '%}
      <i class="{{ text }}"></i>
    {% else %}
      {{ text }}
    {% endif %}
  </a>

{% endmacro %}