{# Default render for add link #}
{% macro add(path, parameters = {}) %}
  {% import _self as a %}
  {{ a.linkGlyph('primary', 'Add', path, parameters) }}  
{% endmacro %}

{# Default render for show link #}
{% macro show(path, parameters = {}) %}
  {% import _self as a %}
  {{ a.linkGlyph('info', 'Open', path, parameters) }}
{% endmacro %}

{# Default render for edit link #}
{% macro edit(path, parameters) %}
  {% import _self as a %}
  {{ a.linkGlyph('primary', 'Edit', path, parameters) }}
{% endmacro %}

{# Default render for back link #}
{% macro back(path, parameters = {}) %}
  {% import _self as a %}
  {{ a.linkGlyph('default', '<-', path, parameters) }}
{% endmacro %}

{# Generic render for link with glyphicon #}
{% macro linkGlyph(btnClass = 'default', text, path, parameters = {}) %}
  <a href="{{ path(path, parameters) }}" role="button"
     class="hidden-print btn btn-sm btn-{{btnClass}}">
    {{ text }}
  </a>

{% endmacro %}