{# Default layout for form in panel for new and edit forms #}
{% macro panel(form, new = true) %}
  {{ form_start(form) }}
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-11">
        {{ form_widget(form) }}
      </div>
      <div class="col-sm-1">
        <button type="submit" value="{{(new)?"Create":"Edit"}}" class="btn btn-success">
          <span class="glyphicon glyphicon-floppy-disk"></span></button>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endmacro %}

{# Default render for delete forms #}
{% macro delete(delete_form) %}
  {{ form_start(delete_form, {"attr":{"class":"delete-form"} }) }}
  <button type="submit" value="Delete" class="btn btn-danger btn-sm btn-confirm">
    <span class="glyphicon glyphicon-trash"></span></button>

  {{ form_end(delete_form) }}
{% endmacro %}

