{# Default layout for form in panel for new and edit forms #}
{% macro panel(form, new = true) %}
  {{ form_start(form) }}
  <div class="card-body">
    {{ form_widget(form) }}
  </div>
  <div class="card-footer text-right">
    <button type="submit" value="Save" class="btn btn-success">
      Save
    </button>
  </div>
  {{ form_end(form) }}
{% endmacro %}

{# Default render for delete forms #}
{% macro delete(delete_form) %}
  {{ form_start(delete_form, {"attr":{"class":"delete-form"} }) }}
  <button type="submit" value="Delete" class="btn btn-danger btn-sm btn-confirm">
    Delete
  </button>

  {{ form_end(delete_form) }}
{% endmacro %}

