{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('proposal_new') }}{% endblock %}
{% block panelTitle %}Proposal index{% endblock %}
{% block panelBody %}
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Status</th>
                <th>Enabled</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>{{ proposal.id }}</td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.createdAt ? proposal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ proposal.updatedAt ? proposal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ proposal.status }}</td>
                    <td>{{ proposal.enabled ? 'Yes' : 'No' }}</td>
                    <td>
                        {{ a.show('proposal_show',  {'id': proposal.id}) }}
                        {{ a.edit('proposal_edit',  {'id': proposal.id}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
