{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% import "macros/badges.html.twig" as badge %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-dark">
        <thead>
        <tr>
            <th>Routine</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for routine_log in routine_logs %}
            <tr>
                <th scope="row">{{ routine_log.routine.title }}</th>
                <td>{{ routine_log.createdAt ? routine_log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ routine_log.updatedAt ? routine_log.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {{ a.show('routine_log_show', { 'id': routine_log.id }) }}
                    {{ a.edit('routine_log_edit', { 'id': routine_log.id }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>