{% extends 'base.html.twig' %}

{% block title %}Hello PlanController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/planner.css') }}"/>
{% endblock %}
{% block content %}
    <div id="planner">
        <div id="elements">
            <div class="item-template">
                <div class="item draggable">
                    <div class="title">Title</div>
                    <div class="details">Details</div>
                    <div class="tools">
                        <button class="edit-me">Edit Me</button>
                        <button class="save-me">Save Me</button>
                    </div>
                </div><!-- .item -->
            </div><!-- .item-template -->
        </div><!-- #elements -->
        <div id="canvas"></div><!-- #canvas -->
        <div id="tools">
            <div class="btn-group">
                <button href="#add" data-template=".item-template" class="add-item btn btn-default">Add Item</button>
                <button href="#add" data-template=".item-template" class="add-connection btn btn-default">Add Connection</button>
            </div>
        </div><!-- #tools -->
    </div><!-- #planner -->


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="{{ asset('js/jquery.connections.js') }}"></script>
    <script src="{{ asset('js/planner.js') }}"></script>
{% endblock %}