{% import "tasks/tasks_macros.html.twig" as tasks_view %}
{# <div class="btn btn-secondary border border-secondary btn-sm btn-block p-0">{{ interval|date("%d %H:%I") }}</div> #}
{% for taskList in taskLists %}
    {% set taskList = taskList.taskList %}
    {% if taskList.status != 'archive' %}
        {% if taskList.tasks|length %}
            {% set tasks = taskList.tasks(false) %}
            <div class="card">
                <div class="card-header px-3 py-2">
                    <button class="btn btn-block text-left bg-transparent border-0 p-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#taskList-{{ taskList.id }}" aria-expanded="false"
                            aria-controls="taskList-{{ taskList.id }}">
                        <span class="card-title mr-2">
                          <a href="{{ path('tasklists_show', {"id":taskList.id}) }}">{{ taskList.name }}</a>
                        </span>
                        <span class="card-title-labels">
                          {% if (taskList.account) %}
                              <a href="{{ path('accounts_show', {'id': taskList.account.id}) }}"
                                 class="badge bg-info">{{ taskList.account.name }}</a>
                            {% if (taskList.account.client) %}
                              <a href="{{ path('client_show', {'id': taskList.account.client.id}) }}"
                                 class="badge bg-primary">{{ taskList.account.client.name }}</a>
                          {% endif %}
                          {% endif %}
                        </span>
                        <span class="float-end">
                            <span class="badge bg-dark">{{ tasks.count }}</span>
                            <span class="badge bg-primary">{{ taskList.estTotal|date("%d %H:%I") }}</span>
                        </span>
                    </button>
                </div>
                <div class="collapse" id="taskList-{{ taskList.id }}">
                    {{ tasks_view.ul(tasks, {displayListName: false}) }}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
<div class="mt-3 mb-3">
    {{ tasks_view.ul(randomTasks) }}
</div>