{# app/Resources/account/index.html #}
{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}{{ a.add('account_new') }}{% endblock %}
{% block panelTitle %}Accounts{% endblock %}

{% block panelBody %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
        <tr>
          <td><a href="{{ path('account_show', { 'id': account.id }) }}">{{ account.name }}</a></td>
          <td>
            <a href="{{ path('account_show', { 'id': account.id }) }}">show</a>
            <a href="{{ path('account_edit', { 'id': account.id }) }}">edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
