{# app/Resources/account/show.html #}
{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelBack %}{{ a.back('account_index') }}{% endblock %}
{% block panelTitle %}{{ account.name }}{% endblock %}
{% block panelBody %}
  <table>
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ account.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ account.name }}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('account_index') }}">Back to the list</a>
    </li>
    <li>
      <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
    </li>
    <li>
      {{ form_start(account_delete_form) }}
      <input type="submit" value="Delete">
      {{ form_end(account_delete_form) }}
    </li>
  </ul>
{% endblock %}
