{% extends 'base.html.twig' %}

{% block container %}
    <h1>AccountBalances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Balance</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accountBalance in accountBalances %}
            <tr>
                <td><a href="{{ path('accountbalances_show', { 'id': accountBalance.id }) }}">{{ accountBalance.id }}</a></td>
                <td>{{ accountBalance.balance }}</td>
                <td>{% if accountBalance.createdAt %}{{ accountBalance.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accountbalances_show', { 'id': accountBalance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('accountbalances_edit', { 'id': accountBalance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accountbalances_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
