{% extends 'base.html.twig' %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}

{% block title %}Focus{% endblock %}
{% block nav %}{% endblock %}

{% block bodyClasses %}focus {% if client is defined %}focus-by-client{% endif %} {% if contract is defined %}has-contract{% endif %}{% endblock %}
{% block container %}
  <div class="floating-action">
    <a href="{{ path('dashboard') }}" class="btn btn-default bg-dark" type="button">
      <i class="fas fa-home"></i>
    </a>
    <a class="btn btn-default bg-dark" type="button"
       href="{{ (taskList is defined) ? path('focus_tasklist', {'name': taskList.name}) : path('focus') }}">
      <i class="fas fa-sync-alt"></i>
    </a>
    <a class="btn btn-default text-bold bg-dark" type="button" 
       href="{{ path('tasks_new')}}">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <div class="container">
    {{ tasks_view.ul(completed, {id: 'completed', displayListName: 'completed', class: 'm-2'}) }}
    {{ tasks_view.ul(tasks, {id: 'tasks', displayListName: 'tasks', focus: true} ) }}
  </div>
  <div class="details">
    {% if client is defined %}
      <div class="client-details" data-client="{{ client.id }}">{{ client.name }}</div>
    {% endif %}
    {% if contract is defined %}
      <div class="contract-details" data-hoursPerDay="{{ contract.hoursPerDay }}">
        {{ contract.hoursPerDay }}h
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    var todayHours
    = {{ todayHours }};
  </script>
  {{ parent() }}
{% endblock %}
