{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelTitle %}New Recurr{% endblock %}
{% block panelBack %}{{ a.back('recurr_index') }}{% endblock %}
{% block panelBody %}
  {{ form_start(form) }}
  <div class="card-body p-3">
    {{ form_row(form.name) }}
    <div class="row">
      <div class="col">{{ form_row(form.dateStart) }}</div>
      <div class="col">{{ form_row(form.dateUntil) }}</div>
    </div>
    <div class="row">
      <div class="col">{{ form_row(form.count) }}</div>
      <div class="col">{{ form_row(form.interval) }}</div>
      <div class="col">{{ form_row(form.freq) }}</div>
    </div>
    {{ form_row(form.byDay) }}
    {{ form_row(form.byMonthDay) }}
    {{ form_row(form.byYearDay) }}
    {{ form_row(form.byMonth) }}
  </div>
  <div class="card-footer text-right">
    <button type="submit" value="Save" class="btn btn-success">
      Save
    </button>
  </div>
  {{ form_end(form) }}
{% endblock %}