{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelTitle %}Edit Task{% endblock %}
{% block panelTitleSmall %}{{task.task}}{% endblock %}
{% block panelBack %}{{ a.back('tasks_index') }}{% endblock %}
{% block panelHeadingRight %}{{ forms.delete(delete_form) }}{% endblock %}
{% block panelBody %}
  {{ forms.panel(task_form, false) }}
  <div class="panel-footer text-right">
    <a id="adv" tabindex="-1" class="text-warning" role="button">
      Close
    </a>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#adv').click(function () {
        if (confirm('Are you sure, you\'re about to archive this task?')) {
          $form = $('form[name="tasks"]');
          $completedAt = $('<input name="completedAt" value="archive"/>');
          $completedAt.appendTo($form);
          $form.submit();
        }
      });
    });
  </script>
{% endblock %}

