{% macro taskIcons(urgency = 0, priority = 0) %}
    {% if urgency %}
        <span class="badge badge-warning">U</span>
    {% endif %}
    {% if priority > 0 %}
        <span class="badge badge-danger">H</span>
    {% elseif priority < 0 %}
        <span class="badge badge-secondary">L</span>
    {% endif %}
{% endmacro %}

{% macro ul(tasks, attributes) %}
    {% import _self as taskUI %}
    <div class="task-list {{ (attributes.class is defined) ? attributes.class }}" {{ (attributes.id is defined) ? 'id='~ attributes.id }}>
        {% for task in tasks %}
            {{ taskUI.show(task, attributes) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro show(task) %}
    <div class="card widget-flat task-item widget-{{ (task.urgency)? 'warning' : (task.priority>0)? 'danger': (task.priority<0)?'default':'info' }} {{ task.completed ? "completed" }}"
         data-order="id_{{ task.id }}"
         id="task_{{ task.id }}"
         data-id="{{ task.id }}"
         data-est="{{ task.est }}"
         data-duration="{{ task.duration }}"
         data-order-no="{{ task.order }}"
         data-account="{{ task.taskList.account.id }}"
            {% if (task.taskList.account.client) %}
                data-client="{{ task.taskList.account.client.id }}"
            {% endif %}
         data-list="{{ task.taskList.id }}"
    >
        <div class="card-header">
            <div class="task-actions float-right">
                <a href="#" class="card-toggle three-dot-menu collapsed"
                   data-toggle="collapse" data-target="#task-body-{{ task.id }}" aria-expanded="false"
                   aria-controls="task-body-{{ task.id }}">
                    <div></div>
                </a>
            </div>
            <div class="d-none task-actions dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex flex-row">
                        {% if(not task.completed) %}
                            <a href="javascript:void(0);" class="postpone dropdown-item" data-taskid="{{ task.id }}"
                                    data-postpone="+20 min" title="20 mins"><i class="fas fa-stopwatch"></i></a>
                            <a href="javascript:void(0);" class="postpone dropdown-item" data-taskid="{{ task.id }}"
                                    data-postpone="tomorrow" title="tomorrow"><i class="fas fa-bed"></i></a>
                        {% endif %}
                        <!-- item-->
                        <a href="{{ path('tasks_edit', { 'id': task.id }) }}"
                           class="dropdown-item" title="Edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div><!-- d-flex -->
                </div><!-- dropdown-menu -->
            </div><!-- task-actions dropdown -->
            <label class="m-0 task-label">
                <input type="checkbox" data-taskid="{{ task.id }}" {{ task.completed ? "checked" : "" }} class="mr-1"
                       data-duration="{{ task.duration }}"/>
                <span class="font-weight-normal m-0 d-inline" title="{{ task.task }}">{{ task.task }}</span>
            </label>
            <a title="Task List" class="badge badge-default d-none d-md-inline" data-tasklist="{{ task.taskList.name }}"
               href="{{ path("focus_tasklist", {'name':task.taskList.name}) }}">{{ task.taskList.name }}</a>
        </div><!-- .card-header -->
        <div class="collapse" id="task-body-{{ task.id }}" aria-labelledby="task-header-{{ task.id }}">
            <div class="card-body d-flex justify-content-around">
                <div class="d-flex flex-column justify-content-around m-1">
          <span>
            <a title="TaskList"
               href="{{ path('tasklists_show', {'id': task.taskList.id}) }}">
              {{ task.taskList.name }}
            </a> /
              <a title="Account"
                 href="{{ path('accounts_show', {'id': task.taskList.account.id}) }}">
              {{ task.taskList.account.name }}
            </a> /
            <a title="Client"
               href="{{ path('client_show', {'id': task.taskList.account.client.id}) }}">
              {{ task.taskList.account.client.name }}
            </a>
          </span>
                    {% if task.est %}
                        <span title="EST">EST: {{ task.est ~ "m" }}</span>
                    {% endif %}
                    {% if task.eta %}
                        <span title="ETA: {{ task.eta|date('D M,j Y') }}">ETA: {{ task.eta|date }}</span>
                    {% endif %}
                </div>
                <div class="d-flex flex-column justify-content-around m-1">
                    {% if task.duration %}
                        <span title="Duration" class="text-success">Duration: {{ task.duration ~ "m" }}</span>
                    {% endif %}
                    {% if task.completed %}
                        <span title="Completed: {{ task.completedAt|date('D M, j Y') }}">Completed: {{ task.completedAt|date }}</span>
                    {% endif %}
                    <span title="Created: {{ task.createdAt|date('D M, j Y') }}">Created: {{ task.createdAt|date }}</span>
                </div>
            </div><!-- card-body -->
            <div class="card-footer">
                <div class="btn-group btn-group-sm d-flex flex-row justify-content-around text-center">
                    {% if(not task.completed) %}
                        <a
                                href="javascript:void(0);"
                                class="postpone btn btn-block btn-outline-info"
                                data-taskid="{{ task.id }}"
                                data-postpone="+20 min"
                                title="20 mins">
                            <i class="fas fa-stopwatch"></i>
                        </a>
                        <a
                                href="javascript:void(0);"
                                class="postpone btn btn-block btn-outline-info"
                                data-taskid="{{ task.id }}"
                                data-postpone="tomorrow"
                                title="tomorrow">
                            <i class="fas fa-bed"></i>
                        </a>
                    {% endif %}
                    <!-- item-->
                    <a href="{{ path('tasks_edit', { 'id': task.id }) }}" title="Edit" class=" btn btn-block btn-outline-info">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <!-- item-->
                    <a href="{{ path('tasks_show', { 'id': task.id }) }}" title="Show" class=" btn btn-block btn-outline-info">
                        <i class="fas fa-eye"></i>
                    </a>
                </div><!-- d-flex -->
            </div><!-- card-footer -->
        </div><!-- collapse -->
    </div><!-- card task-item -->
{% endmacro %}