{% macro taskIcons(urgency = 0, priority = 0) %}
  {% if urgency %}
    <span class="badge badge-warning">U</span>
  {% endif %}
  {% if priority > 0 %}
    <span class="badge badge-danger">H</span>
  {% elseif priority < 0 %}
    <span class="badge badge-secondary">L</span>
  {% endif %}
{% endmacro %}

{% macro li(task, displayListName = true) %}
  {% import _self as taskUI %}
  <li class="list-group-item {{ task.completed ? "completed" }}" 
      data-order="id_{{task.id}}" 
      id="task_{{task.id}}" 
      data-id="{{task.id}}"
      data-time="{{ task.duration }}"
      data-order-no="{{ task.order }}"
      >
    <label class="btn btn-secondary btn-{{ task.completed ? "xs":"sm" }} task mr-1 mb-0">
      <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
             {{ task.completed ? "checked" : "" }}/>
      {{ task.task|truncate(50) }}
      {{ taskUI.taskIcons(task.urgency, task.priority) }}
      {% if task.duration %}
        <small class="text-info">{{ task.duration ~ "m"}}</small>
      {% endif %}
    </label>
    {% if displayListName %}
      <span class="d-none d-lg-inline-block d-md-inline-block">
        <a class="badge badge-default" 
           data-tasklist="{{ task.taskList.name }}" 
           href="{{ path("focus_tasklist", {'name':task.taskList.name}) }}">{{ task.taskList.name }}</a>
        {% if (task.taskList.account) %}
          <a href="{{ path('accounts_show', {'id': task.taskList.account.id}) }}"
             class="badge badge-info">{{ task.taskList.account.name }}</a>
          {% if (task.taskList.account.client) %}
            <a href="{{ path('client_show', {'id': task.taskList.account.client.id}) }}"
               class="badge badge-primary">{{ task.taskList.account.client.name }}</a>
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
    <span class="visible-lg-inline visible-md-inline float-right">
      <a class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#"
         href="{{ path('task_show_modal', {"id":task.id}) }}">
        <i class="fas fa-folder-open"></i></a>
        {% if(not task.completed) %}
        <a  data-taskid="{{task.id}}"
            data-postpone="+1 hour"
            title="5 mins"
            class="btn btn-secondary postpone btn-sm d-none d-md-inline-block">
          <img src="/images/snooze_white_18x18.png" width="18px" />
        </a>
        <a  data-taskid="{{task.id}}"
            data-postpone="tomorrow"
            title="tomorrow"
            class="btn btn-secondary postpone btn-sm d-none d-md-inline-block">
          <img src="/images/zzz.png" width="18px"/>
        </a>
      {% endif %}
      <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
         class="btn btn-secondary btn-{{ task.completed ? "xs":"sm" }} d-none d-md-inline-block">
        Edit</a>
    </span>
  </li>
{% endmacro %}

{% macro ul(tasks, id, displayListName = true) %}
  {% import _self as taskUI %}

  <ul class="list-group task-list mb-2" {{ (id) ? 'id='~id }}>
    {% for task in tasks %}
      {{ taskUI.li(task, displayListName) }}
    {% endfor %}
  </ul>   
{% endmacro %}