{% macro taskIcons(urgency = 0, priority = 0) %}
    {% if urgency %}
        <span class="badge badge-warning">U</span>
    {% endif %}
    {% if priority > 0 %}
        <span class="badge badge-danger">H</span>
    {% elseif priority < 0 %}
        <span class="badge badge-secondary">L</span>
    {% endif %}
{% endmacro %}

{% macro li(task, attributes) %}
    {% import _self as taskUI %}
    <div class="card card-default task-item p-0 {{ task.completed ? "completed" }}"
         data-order="id_{{ task.id }}"
         id="task_{{ task.id }}"
         data-id="{{ task.id }}"
         data-est="{{ task.est }}"
         data-duration="{{ task.duration }}"
         data-order-no="{{ task.order }}"
            {% if (task.taskList.account) %}
                data-account="{{ task.taskList.account.id }}"
                {% if (task.taskList.account.client) %}
                    data-client="{{ task.taskList.account.client.id }}"
                {% endif %}
            {% endif %}
         data-list="{{ task.taskList.id }}"
    >
        <div class="card-header py-1" id="task-header-{{ task.id }}">
            <div class="form-check-inline">
                <label class="form-check-label mr-2 {{ task.completed ? "completed" }} task">
                    <input type="checkbox" data-taskid="{{ task.id }}" class="form-check-input"
                            {{ task.completed ? "checked" : "" }}/>
                    {{ task.task|truncate(50) }}
                </label>
            </div>
            <div class="card-info">
                {{ taskUI.taskIcons(task.urgency, task.priority) }}
                <a class="badge badge-default d-none d-md-inline"
                   data-tasklist="{{ task.taskList.name }}"
                   href="{{ path("focus_tasklist", {'name':task.taskList.name}) }}">{{ task.taskList.name }}</a>
                {% if task.duration %}
                    <small class="text-info" title="Duration">{{ task.duration ~ "m" }}</small>
                {% endif %}
                {% if task.est %}
                    <small class="text-success" title="EST">{{ task.est ~ "m" }}</small>
                {% endif %}
            </div>
            <div class="card-tools">
                <button class="btn btn-default btn-sm sort-button">
                    <i class="fa fa-grip-lines"></i>
                </button>
                <button class="btn btn-default btn-sm" type="button" data-toggle="collapse"
                        data-target="#task-body-{{ task.id }}" aria-expanded="false"
                        aria-controls="task-body-{{ task.id }}">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="collapse" id="task-body-{{ task.id }}" aria-labelledby="task-header-{{ task.id }}"
             data-parent=".accordion">
            <div class="card-body">
                <div class="float-md-left">
                    {% if attributes.displayListName is defined %}
                        {% if attributes.displayListName != false %}
                            <a class="badge badge-default"
                               data-tasklist="{{ task.taskList.name }}"
                               href="{{ path("tasklists_show", {'id':task.taskList.id}) }}">{{ task.taskList.name }}</a>
                            {% if (task.taskList.account) %}
                                <a href="{{ path('accounts_show', {'id': task.taskList.account.id}) }}"
                                   class="badge badge-info">{{ task.taskList.account.name }}</a>
                                {% if (task.taskList.account.client) %}
                                    <a href="{{ path('client_show', {'id': task.taskList.account.client.id}) }}"
                                       class="badge badge-primary">{{ task.taskList.account.client.name }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <br/>
                    {% endif %}
                    {% if task.eta %}
                        <small class="text-info" title="ETA">{{ task.eta|date }}</small><br/>
                    {% endif %}
                    <small class="text-primary" title="Created">{{ task.createdAt|date }}</small><br/>
                </div>
                <div class="float-md-right">
                    <a class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#"
                       href="{{ path('task_show_modal', {"id":task.id}) }}">
                        <i class="fas fa-folder-open"></i></a>
                    <a class="btn btn-secondary btn-sm" data-target="#"
                       href="{{ path('tasks_show', {"id":task.id}) }}">
                        <i class="fas fa-file"></i></a>
                    {% if(not task.completed) %}
                        <a data-taskid="{{ task.id }}"
                           data-postpone="+1 hour"
                           title="5 mins"
                           class="btn btn-secondary postpone btn-sm">
                            <img src="{{  asset('/images/snooze_white_18x18.png') }}" width="18px" alt="snooze"/>
                        </a>
                        <a data-taskid="{{ task.id }}"
                           data-postpone="tomorrow"
                           title="tomorrow"
                           class="btn btn-secondary postpone btn-sm">
                            <img src="{{ asset('/images/zzz.png') }}" width="18px" alt="snooze"/>
                        </a>
                    {% endif %}
                    <a href="{{ path('tasks_edit', { 'id': task.id }) }}"
                       class="btn btn-secondary btn-sm">
                        Edit</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro ul(tasks, attributes) %}
    {% import _self as taskUI %}
    <div class="task-list {{ (attributes.class is defined) ? attributes.class }}" {{ (attributes.id is defined) ? 'id='~ attributes.id }}>
        {% for task in tasks %}
            {{ taskUI.show(task, attributes) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro show(task) %}
    <div class="card widget-flat widget-{{ (task.urgency)? 'warning' : (task.priority>0)? 'danger': 'info' }} task-item {{ task.completed ? "completed" }}"
         data-order="id_{{ task.id }}"
         id="task_{{ task.id }}"
         data-id="{{ task.id }}"
         data-est="{{ task.est }}"
         data-duration="{{ task.duration }}"
         data-order-no="{{ task.order }}"
         data-account="{{ task.taskList.account.id }}"
            {% if (task.taskList.account.client) %}
                data-client="{{ task.taskList.account.client.id }}"
            {% endif %}
         data-list="{{ task.taskList.id }}"
    >
        <div class="card-header">
            <div class="task-actions float-right">
                <a href="#" class="card-toggle three-dot-menu collapsed"
                   data-toggle="collapse" data-target="#task-body-{{ task.id }}" aria-expanded="false"
                   aria-controls="task-body-{{ task.id }}">
                    <div></div>
                </a>
            </div>
            <div class="d-none task-actions dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex flex-row">

                        {% if(not task.completed) %}
                            <a
                                    href="javascript:void(0);"
                                    class="postpone dropdown-item"
                                    data-taskid="{{ task.id }}"
                                    data-postpone="+20 min"
                                    title="20 mins">
                                <i class="fas fa-stopwatch"></i>
                            </a>
                            <a
                                    href="javascript:void(0);"
                                    class="postpone dropdown-item"
                                    data-taskid="{{ task.id }}"
                                    data-postpone="tomorrow"
                                    title="tomorrow">
                                <i class="fas fa-bed"></i>
                            </a>
                        {% endif %}
                        <!-- item-->
                        <a href="{{ path('tasks_edit', { 'id': task.id }) }}"
                           class="dropdown-item" title="Edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div><!-- d-flex -->
                </div><!-- dropdown-menu -->
            </div><!-- task-actions dropdown -->
            <label class="m-0 task-label">
                <input type="checkbox" data-taskid="{{ task.id }}" {{ task.completed ? "checked" : "" }} class="mr-1"/>
                <span class="h5 font-weight-normal m-0 d-inline" title="{{ task.task }}">{{ task.task }}</span>
            </label>
            &nbsp;
            <a title="Task List" class="badge badge-default d-none d-md-inline"
               data-tasklist="{{ task.taskList.name }}"
               href="{{ path("tasklists_show", {'id':task.taskList.id}) }}">
                {{ task.taskList.name }}
            </a>
        </div>
        <div class="collapse" id="task-body-{{ task.id }}" aria-labelledby="task-header-{{ task.id }}">
            <div class="card-body d-flex justify-content-around">
                <div class="d-flex flex-column justify-content-around m-1">
          <span>
            <a title="Account"
               href="{{ path('accounts_show', {'id': task.taskList.account.id}) }}">
              {{ task.taskList.account.name }}
            </a> / 
            <a title="Client"
               href="{{ path('client_show', {'id': task.taskList.account.client.id}) }}">
              {{ task.taskList.account.client.name }}
            </a>
          </span>
                    {% if task.est %}
                        <span title="EST">EST: {{ task.est ~ "m" }}</span>
                    {% endif %}
                    {% if task.eta %}
                        <span title="ETA: {{ task.eta|date('D M,j Y') }}">ETA: {{ task.eta|date }}</span>
                    {% endif %}
                </div>
                <div class="d-flex flex-column justify-content-around m-1">
                    {% if task.duration %}
                        <span title="Duration" class="text-success">Duration: {{ task.duration ~ "m" }}</span>
                    {% endif %}
                    {% if task.completed %}
                        <span title="Completed: {{ task.completedAt|date('D M, j Y') }}">Completed: {{ task.completedAt|date }}</span>
                    {% endif %}
                    <span title="Created: {{ task.createdAt|date('D M, j Y') }}">Created: {{ task.createdAt|date }}</span>
                </div>
            </div><!-- card-body -->
            <div class="card-footer">
                <div class="d-flex flex-row justify-content-around text-center">

                    {% if(not task.completed) %}
                        <a
                                href="javascript:void(0);"
                                class="postpone"
                                data-taskid="{{ task.id }}"
                                data-postpone="+20 min"
                                title="20 mins">
                            <i class="fas fa-stopwatch"></i>
                        </a>
                        <a
                                href="javascript:void(0);"
                                class="postpone"
                                data-taskid="{{ task.id }}"
                                data-postpone="tomorrow"
                                title="tomorrow">
                            <i class="fas fa-bed"></i>
                        </a>
                    {% endif %}
                    <!-- item-->
                    <a href="{{ path('tasks_edit', { 'id': task.id }) }}" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <!-- item-->
                    <a href="{{ path('tasks_show', { 'id': task.id }) }}" title="Show">
                        <i class="fas fa-eye"></i>
                    </a>
                </div><!-- d-flex -->
            </div><!-- card-footer -->
        </div><!-- collapse -->
    </div><!-- card task-item -->
{% endmacro %}