{% extends 'base.html.twig' %}

{% block container %}
    {{ dump(wsidn) }}
    <div class="container">
        {{ "now"|date("H:i") }}
        <ul class="list-group list-inline"
            id="slots">
            {% for slot in wsidn.slots %}
                <li class="list-group-item col-sm-{{(slot.period.i / 60) * 12 % 12}}" style="height: 80px;" data-hour="{{slot.time|date('H')}}" data-min="{{slot.time|date('I')}}">
                    <span class="list-group-item-text">{{slot.time|date('H:i')}}</span>
                    <h4 title="{{slot.name}}" class="list-group-item-heading">{{slot.name}}</h4>
                    <span class="list-group-item-text">{{slot.period|date('%i mins')}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}