{% set timeLeft = 480 %}
{% set dayStart = true %}
{% set dayEnd = false %}

{% for task in tasks %}
  {% if dayStart %}
    <ul class="list-group task-list">
      {% set dayStart = false %}
    {% endif %}
    <li class="list-group-item {{ task.completed ? "completed" }}" 
        data-order="id_{{task.id}}" id="task_{{task.id}}" 
        style="height: {{ (timeLeft > 0) and task.est ? (task.est / 480)*90 ~ "vh" : "auto" }}">
      {% if task.urgency %}
        <span class="glyphicon glyphicon-flash text-warning"></span>

      {% endif %}
      {% if task.priority > 0 %}
        <span class="glyphicon glyphicon-menu-up text-danger"></span>
      {% elseif  task.priority < 0 %}
        <span class="glyphicon glyphicon-menu-down text-muted"></span>
      {% else %}
        <span class="glyphicon glyphicon-menu-right text-primary"></span>
      {% endif %}
      <label class="btn btn-{{ (timeLeft > 0) ? "primary" : "default" }} btn-sm task" 
             title="{{ task.task }}" data-toggle="tooltip">
        <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
               {{ task.completed ? "checked" : "" }}/>
        {{ task.task|converturls }}
      </label>
      <label class="label label-default">{{ task.taskList.name }}</label>
      <small class="text-info">{{ task.est ? task.est ~ "m"}}</small>
      <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
         class="btn btn-primary edit-fixed-link btn-sm">
        <span class="glyphicon glyphicon-pencil"></span></a>
    </li>
    {% set timeLeft = timeLeft - task.est %}
    {% if (timeLeft <= 0 ) %}
      {% if (not dayEnd) %}
      </ul>
      <ul class="list-group task-list">
      {% endif %}
      {% set dayEnd = true %}
    {% endif %}
  {% endfor %}
</ul>   
