<ul class="list-group task-list">
  {% for task in tasks %}
    <li class="list-group-item {{ task.completed ? "completed" }}" 
        data-order="id_{{task.id}}" id="task_{{task.id}}" 
        data-time="{{ task.est }}">
      {% if task.urgency %}
        <span class="glyphicon glyphicon-flash text-warning"></span>
      {% endif %}
      {% if task.priority %}
        <span class="glyphicon glyphicon-menu-up text-danger"></span>
      {% else %}
        <span class="glyphicon glyphicon-menu-right text-primary"></span>
      {% endif %}
      <label class="btn btn-default btn-sm task" title="{{ task.task }}" 
             data-toggle="tooltip">
        <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
               {{ task.completed ? "checked" : "" }}/>
        {{ task.task|converturls }}
      </label>
      <label class="label label-default task-list-name" data-tasklist="{{ task.taskList.name }}">{{ task.taskList.name }}</label>
      <small class="text-info">{{ task.est ? task.est ~ "m"}}</small>
      <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
         class="btn btn-primary edit-fixed-link btn-sm">
        <span class="glyphicon glyphicon-pencil"></span></a>
    </li>
  {% endfor %}
</ul>   
