{% extends 'base.html.twig' %}

{% block container %}
    <h1>Task</h1>
    {% if task.completed %}
        <strike>
        {% endif %}
        {{ task.task }}
        {% if task.completed %}
        </strike>
    {% endif %}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
    <div class="btn-group">
        <a href="{{ path('tasks_index') }}" class="btn btn-default">Back to the list</a>
        <a href="{{ path('tasks_edit', { 'id': task.id }) }}" class="btn btn-default">Edit</a>
    </div>
{% endblock %}
