{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}

{% block floatingActions %}{{ a.add('tasks_new') }}{% endblock %}
{% block panelBack %}{{ a.back('tasks_index') }}{% endblock %}
{% block panelTitle %}{{ task.task }}{% endblock %}
{% block panelHeadingRight %}{{ forms.delete(delete_form) }}{% endblock %}
{% block panelBody %}
  <ul class="list-group task-list">
    <li class="list-group-item {{ task.completed ? "completed" }}" 
        data-order="id_{{task.id}}" 
        id="task_{{task.id}}" 
        data-id="{{task.id}}"
        data-time="{{ task.est }}"
        data-order-no="{{ task.order }}"
        >
      <div class="clearfix">
        <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
           class="btn btn-primary edit-fixed-link btn-{{ task.completed ? "xs":"sm" }}">
          <span class="glyphicon glyphicon-pencil"></span></a>

        <label class="btn btn-default btn-{{ task.completed ? "xs":"sm" }} task">
          <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
                 {{ task.completed ? "checked" : "" }}/>
          <p>{{ task.task|converturls }}</p>
          <span class="badge">
            {% if task.urgency %}
              <span class="glyphicon glyphicon-flash text-warning"></span>
            {% endif %}
            {% if task.priority > 0 %}
              <span class="glyphicon glyphicon-menu-up text-danger"></span>
            {% elseif task.priority < 0 %}
              <span class="glyphicon glyphicon-menu-down text-primary"></span>
            {% else %}
              <span class="glyphicon glyphicon-menu-right text-primary"></span>
            {% endif %}
          </span>
        </label>
        <a class="label label-default task-list-name" 
           data-tasklist="{{ task.taskList.name }}" 
           href="{{ path("tasklists_show", {'id':task.taskList.id}) }}">
          {{ task.taskList.name }}</a>

        {% if task.taskList.account %}
          <a class="label label-info" 
             data-tasklist="{{ task.taskList.account.name }}" 
             href="{{ path("accounts_show", {'id':task.taskList.account.id }) }}">
            {{ task.taskList.account.name }}</a>

          {% if task.taskList.account.client %}
            <a class="label label-primary" 
               data-tasklist="{{ task.taskList.account.client.name }}" 
               href="{{ path("client_show", {'id':task.taskList.account.client.id }) }}">
              {{ task.taskList.account.client.name }}</a>

          {% endif %}
        {% endif %}
        <table class="text-info">
          <tbody>
            <tr>
              <td><span class="label label-default">Est:</span></td>
              <td>{{ task.est ? task.est ~ "m"}}</td>
            </tr>
            <tr>
              <td><span class="label label-default">Created At:</span></td>
              <td>{{ task.createdAt|date }}</td>
            </tr>
            <tr>
              <td><span class="label label-default">ETA:</span></td>
              <td>{{ (task.eta) ?task.eta|date }}</td>
            </tr>
            <tr>
              <td><span class="label label-default">Completed At:</span></td>
              <td>{{ (task.completedAt) ? task.completedAt|date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
{% endblock %}
