{% macro li(task, displayListName = true) %}
  <li class="list-group-item {{ task.completed ? "completed" }}" 
      data-order="id_{{task.id}}" 
      id="task_{{task.id}}" 
      data-id="{{task.id}}"
      data-time="{{ task.est }}"
      data-order-no="{{ task.order }}"
      >
    <label class="btn btn-default btn-{{ task.completed ? "xs":"sm" }} task">
      <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
             {{ task.completed ? "checked" : "" }}/>
      {{ task.task|truncate(50) }}
      <span class="badge">
        {% if task.urgency %}
          <span class="glyphicon glyphicon-flash text-warning"></span>
        {% endif %}
        {% if task.priority > 0 %}
          <span class="glyphicon glyphicon-menu-up text-danger"></span>
        {% elseif task.priority < 0 %}
          <span class="glyphicon glyphicon-menu-down text-primary"></span>
        {% else %}
          <span class="glyphicon glyphicon-menu-right text-primary"></span>
        {% endif %}
      </span>
    </label>
    <button
      class="btn btn-link btn-xs info-link"
      data-toggle="popover"
      data-trigger="focus"
      title="<a href=''>{{ task.taskList.name}}</a>"
      data-content='<p>{{ task.task|converturls }}</p>
      <div class="btn-group btn-group-justified">
      <a href="{{ path ('tasks_show', {"id":task.id})}}" 
      class="btn btn-info btn-xs">
      <span class="glyphicon glyphicon-open"></span></a>
      <a href="{{ path ('tasks_edit', {"id":task.id})}}"
      class="btn btn-primary btn-xs">
      <span class="glyphicon glyphicon-pencil"></span></a>
      </div>
      <div class="text-info small">
      <span class="label label-default">Est:</span>&nbsp;
      {{ task.est }}m</div>
      <div class="text-info small">
      <span class="label label-default">ETA:</span>&nbsp;
      {{ (task.eta)?task.eta|date:"-" }}
      </div>
      <div class="text-info small">
      <span class="label label-default">Created At:</span>&nbsp;
      {{ task.createdAt|date }}</div>'
      ><i class="glyphicon glyphicon-info-sign"></i></button>
      {% if displayListName %}
      <span class="visible-lg-inline-block visible-md-inline-block">
        <a class="label label-default task-list-name" 
           data-tasklist="{{ task.taskList.name }}" 
           href="{{ path("focus_tasklist", {'name':task.taskList.name}) }}">{{ task.taskList.name }}</a>
        {% if (task.taskList.account) %}
          <a href="{{ path('accounts_show', {'id': task.taskList.account.id}) }}"
             class="label label-info">{{ task.taskList.account.name }}</a>
          {% if (task.taskList.account.client) %}
            <a href="{{ path('client_show', {'id': task.taskList.account.client.id}) }}"
               class="label label-primary">{{ task.taskList.account.client.name }}</a>
          {% endif %}
        {% endif %}
      </span>
    {% endif %}
    <small class="text-info">{{ task.est ? task.est ~ "m"}}</small>
    <span class="visible-lg-inline visible-md-inline">
      <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
         class="btn btn-primary edit-fixed-link btn-{{ task.completed ? "xs":"sm" }}">
        <span class="glyphicon glyphicon-pencil"></span></a>
    </span>
  </li>
{% endmacro %}

{% macro ul(tasks, id, displayListName = true) %}
  <ul class="list-group task-list" {{ (id) ? 'id='~id }}>
    {% for task in tasks %}
      {{ _self.li(task, displayListName) }}
    {% endfor %}
  </ul>   
{% endmacro %}