<ul class="list-group">
    {% for task in tasks %}
        <li class="list-group-item">
            <div class="checkbox-inline">
                <label class="{{ task.completed ? "strike" : "" }}">
                    <input type="checkbox" class="checkboxes" id="task_{{task.id}}" {{ task.completed ? "checked" : "" }} />
                    {{ task.task }}
                </label>
            </div>
                <small class="edit-link">
                    <sup>
                        <a href="{{ path('tasks_edit', { 'id': task.id }) }}" class="btn btn-xs text-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </sup>
                </small>
        </li>
    {% endfor %}
</ul>