<ul class="list-group task-list">
    {% for task in tasks %}
        <li class="list-group-item">
            <label class="btn btn-default{{ task.completed ? " strike" : "" }}" title="{{ task.task }}">
                <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" {{ task.completed ? "checked" : "" }}/>
                {{ task.task }}
            </label>
            <a href="{{ path('tasks_edit', { 'id': task.id }) }}" class="btn btn-primary edit-fixed-link"><span class="glyphicon glyphicon-pencil"></span></a>
        </li>
    {% endfor %}
</ul>
