<ul class="list-group task-list">
  {% for task in tasks %}
    <li class="list-group-item{{ task.completed ? " completed" }}" data-order="id_{{task.id}}" id="task_{{task.id}}">
      {% if task.urgency %}
        <span class="glyphicon glyphicon-flash text-warning"></span>

      {% endif %}
      {% if task.priority > 0 %}
        <span class="glyphicon glyphicon-menu-up text-danger"></span>
      {% elseif  task.priority < 0 %}
        <span class="glyphicon glyphicon-menu-down text-muted"></span>
      {% else %}
        <span class="glyphicon glyphicon-menu-right text-primary"></span>
      {% endif %}
      <label class="btn btn-default btn-sm" title="{{ task.task }}" 
             data-toggle="tooltip">
        <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
               {{ task.completed ? "checked" : "" }}/>
        {% if task.task|length >= 35 %}
          {{ task.task|truncate(35) }}
        {% else %}
          {{ task.task|converturls }}
        {% endif %}
      </label>
      {% if task.task|length >= 35 %}
        <button data-toggle="popover" data-content='{{ task.task|converturls}}' 
                class="btn btn-link btn-xs">
          <span class="glyphicon glyphicon-new-window text-muted"></span>
        </button>
      {% endif %}
      <small class="text-info">{{ task.est ? task.est ~ "m"}}</small>
      <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
         class="btn btn-primary btn-sm edit-fixed-link">
        <span class="glyphicon glyphicon-pencil"></span></a>
    </li>
  {% endfor %}
</ul>
