{% macro li(task) %}
  <li class="list-group-item {{ task.completed ? "completed" }}" 
      data-order="id_{{task.id}}" 
      id="task_{{task.id}}" 
      data-id="{{task.id}}"
      data-time="{{ task.est }}"
      data-order-no="{{ task.order }}"
      >
    <label class="btn btn-default btn-{{ task.completed ? "xs":"sm" }} task" 
           title="{{ task.task }}" data-toggle="tooltip"
           >
      <input type="checkbox" data-taskid="{{task.id}}" class="checkbox-inline" 
             {{ task.completed ? "checked" : "" }}/>
      {{ task.task|converturls }}
      <span class="badge">
        {% if task.urgency %}
          <span class="glyphicon glyphicon-flash text-warning"></span>
        {% endif %}
        {% if task.priority %}
          <span class="glyphicon glyphicon-menu-up text-danger"></span>
        {% else %}
          <span class="glyphicon glyphicon-menu-right text-primary"></span>
        {% endif %}
      </span>
    </label>
    <a class="label label-default task-list-name" 
       data-tasklist="{{ task.taskList.name }}" 
       href="{{ path("focus_tasklist", {'name':task.taskList.name}) }}">
      {{ task.taskList.name }}</a>
    <small class="text-info">{{ task.est ? task.est ~ "m"}}</small>
    <a href="{{ path('tasks_edit', { 'id': task.id }) }}" 
       class="btn btn-primary edit-fixed-link btn-{{ task.completed ? "xs":"sm" }}">
      <span class="glyphicon glyphicon-pencil"></span></a>
  </li>
{% endmacro %}

{% macro ul(tasks) %}
  <ul class="list-group task-list" id="tasks">
    {% for task in tasks %}
      {{ _self.li(task) }}
    {% endfor %}
  </ul>   
{% endmacro %}