{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block title %}#{{accountTransaction.id}} {{accountTransaction.account.name}} Transaction{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-push-4">
      {{ parent() }}
    </div>
  </div>
{% endblock %}
{% block floatingActions %}{{ a.add('accounttransactions_new') }}{% endblock %}
{% block panelBack %}{{ a.back('accounts_show', {'id': accountTransaction.account.id}) }}{% endblock %}
{% block panelTitle %}Transaction #{{accountTransaction.id}}{% endblock %}
{% block panelTitleSmall %}{{accountTransaction.account.name}}{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('accounttransactions_edit', { 'id': accountTransaction.id }) }}
  {{ forms.delete(delete_form) }}
{% endblock %}
{% block panelBody %}
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><a href="{{ path('accounts_show', {'id': accountTransaction.account.id}) }}">{{ accountTransaction.account.name }}</a></span>
      # {{ accountTransaction.id }} 
    </li>
    <li class="list-group-item"><span class="badge">EGP</span>{{ accountTransaction.amount|number_format }}</li>
    <li class="list-group-item"><span class="badge">Issued</span> {% if accountTransaction.issuedAt %}{{ accountTransaction.issuedAt|date('Y-m-d') }}{% endif %}</li>
    <li class="list-group-item"><span class="badge">Note</span> {{ accountTransaction.note }}</li>
    <li class="list-group-item"><span class="badge">Created</span> {% if accountTransaction.createdAt %}{{ accountTransaction.createdAt|date('Y-m-d H:i:s') }}{% endif %}</li>
  </ul>
{% endblock %}
