{# TODO: color items #}
<div class="panel-group">
  {% set status = ['danger', 'warning', 'info', 'primary'] %}
  {% for day in days %}
    {% set diff = date(day.deadline).diff(date()) %}
    {% set curStatus = (diff.days < 15 ) ? 'danger' :  (diff.days < 30 ) ? 'warning' :(diff.days < 60 ) ? 'info' : 'primary' %}
    <div class="panel panel-{{ curStatus }}">
      <table class="table {{ day.complete ? "completed" }} days-table">
        <tbody>
          <tr>
            <td class="h3 name" style="vertical-align: middle;">
              {{ day.name }}
              <span class="edit-link">
                <a href="{{ path('days_edit', { 'id': day.id }) }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
              </span>
            </td>
            <td  style="width: 25%;" class="h1 bg-{{ curStatus }} text-center days">{{ diff.days }}</td>
          </tr>
          <tr>
            <td style="vertical-align: bottom;"><sup>{{ day.deadline|date('D M d, Y') }}</sup></td>
            <td class="bg-{{ curStatus }} text-center days-line"><sup>days<br/>{{ diff.invert ? "left" : "passed"}}</sup></td>
          </tr>
        </tbody>
      </table>
      {# TODO: completed items #}
      {# <li class="list-group-item">{% if day.complete %}Yes{% else %}No{% endif %}</li> #}
    </div>
  {% endfor %}
</div>