<div class="panel-group">
  {% set status = ['danger', 'warning', 'info', 'primary'] %}
  {% for day in days %}
    {% set diff = date(day.deadline).diff(date()) %}
    {% set curStatus = day.complete ? "success" : (diff.days < 15 or not diff.invert ) ? 'danger' :  (diff.days < 30 ) ? 'warning' :(diff.days < 60 ) ? 'info' : 'primary' %}
    <div class="panel panel-{{ curStatus }} row {{ day.complete ? "completed" }} days-table">
      <div class="col-md-9">
        <h3 class="name">{{ day.name }}</h3>
        <sup class="days-line">{{ day.deadline|date('D M d, Y') }}</sup>
        <span class="edit-link pull-right">
          {{ a.edit('days_edit', { 'id': day.id }) }}
        </span>
      </div>
      <div class="bg-{{ curStatus }} text-center days col-md-3">
        <h2>{{ diff.days }}</h2>
        <sup>days<br/>{{ diff.invert ? "left" : "passed"}}</sup>
      </div>
    </div>
  {% endfor %}
</div>