{# TODO: color items #}
<div class="panel-group">
    {% set status = ['danger', 'warning', 'primary', 'success', 'info'] %}
    {% for day in days %}
        {% set diff = date(day.deadline).diff(date()) %}
        <div class="panel panel-{{ cycle(status, loop.index0 ) }} ">
            <table class="table {{ day.complete ? "completed" }} days-table">
                <tbody>
                    <tr>
                        <td class="h3 name" style="vertical-align: middle;">
                            {{ day.name }}
                            <span class="edit-link">
                                <a href="{{ path('days_edit', { 'id': day.id }) }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
                            </span>
                        </td>
                        <td  style="width: 25%;" class="h1 bg-{{ cycle(status, loop.index0 ) }} text-center days">{{ diff.days }}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: bottom;"><sup>{{ day.deadline|date('D M d, Y') }}</sup></td>
                        <td class="bg-{{ cycle(status, loop.index0 ) }} text-center days-line"><sup>days<br/>{{ diff.invert ? "left" : "passed"}}</sup></td>
                    </tr>
                </tbody>
            </table>
            {# TODO: completed items #}
            {# <li class="list-group-item">{% if day.complete %}Yes{% else %}No{% endif %}</li> #}
        </div>
    {% endfor %}
</div>