{% import "macros/a.html.twig" as a %}
{% set diff = date(day.deadline).diff(date()) %}
{% set curStatus = day.complete ? "success" : (diff.days < 15 or not diff.invert ) ? 'danger' :  (diff.days < 30 ) ? 'warning' :(diff.days < 60 ) ? 'info' : 'primary' %}
<div class="panel panel-{{ curStatus }} {{ day.complete ? "completed" }} days-table">
  <table class="table">
    <tbody>
      <tr>
        <td class="bg-{{ curStatus }} text-center days-cell" style="padding: 2px;">
          <div class="text-bold">{{ diff.days }}</div>
          <sup>days {{ diff.invert ? "left" : "passed"}}</sup>
        </td>
      </tr>
      <tr>
        <td>
          <div>{{ day.name }}</div>
          <sup class="days-line">{{ day.deadline|date('D M d, Y') }}</sup>
          <span class="edit-link pull-right">
            {{ a.edit('days_edit', { 'id': day.id }) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>