{{ form_start(form) }}
<div class="row">
    <div class="col-4">
        {{ form_row(form.name) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.objectives) }}
    </div>
    <div class="col">
        {{ form_row(form.things) }}
    </div>
    <div class="col">
        {{ form_row(form.tasklists) }}
    </div>
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
