{% extends 'base.html.twig' %}

{% block floatingActions %}
  <a href="{{ path('notes_new') }}" class="bg-primary"><span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}

{% block content %}
  <div class="notes-container">
    {% for note in notes %}
      <div class="note-container">
        <div class="note">
          <p>{{ note.note }}</p>
          <span class="label label-muted pull-right">{{ note.type|title }}</span> 
          <div class="btn-group btn-group-xs">
            <a class="btn btn-default btn-sm" href="{{ path('notes_show', {"id": note.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
            <a class="btn btn-default  btn-sm" href="{{ path('notes_edit', { 'id': note.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/notes.js"></script>
{% endblock %}
