{% extends 'base.html.twig' %}
{% block floatingActions %}{{ a.add('notes_new') }}{% endblock %}
{% block panelBack %}{{ a.back('notes_index') }}{% endblock %}
{% block panelTitle %}{{ note.note|truncate(50) }}{% endblock %}
{% block panelTitleLabels %}
  <span class="label label-info">{{ note.type|title }}</span> 
  {% if note.createdAt %}
    <span class="label label-primary">
      {{ note.createdAt|date('Y-m-d H:i:s') }}
    </span>
  {% endif %}
{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('notes_edit', { 'id': note.id }) }}
  {{ forms.delete(delete_form) }}
{% endblock %}
{% block panelBody %}
  <div class="panel-body"><div class="note">{{ note.note }}</div></div>
{% endblock %}
