{% set widgetClass ="widget-info" %}
{% set daysDiff = (("last day of this month"|date_modify("-4 days")).diff(date("now")).days) %}
{% set pm = progressMonitoring %}
<div class="row">
    <div class="col">
        {% set widgetBody %}
            <!-- https://codepen.io/jasonleewilson/pen/gPrxwX -->
            <!-- https://www.timeanddate.com/worldclock/egypt/cairo -->
            <sup class="float-left">{{ day_manager.monthPercentage }}%</sup>
            <div id="timedate" class="text-right text-nowrap">
                <div class="h3">
                    <strong><a id="h">{{ "now"|date("H") }}</a>:<a id="m">{{ "now"|date("i") }}</a></strong>
                    <sup><a id="s">{{ "now"|date("s") }}</a></sup>
                </div>
                <strong>
                    <a id="y">{{ "now"|date("Y") }}</a>-<a id="mon">{{ "now"|date("m") }}</a>-<a
                            id="d">{{ "now"|date("d") }}</a>
                    <a id="day">{{ "now"|date('l') }}</a>
                </strong>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = daysDiff  > 20 ? "widget-info" : daysDiff  > 10 ? "widget-warning" : "widget-danger" %}
        {% set widgetBody %}
            <table class="m-0 income-progress">
                <tbody>
                <tr>
                    <td>{{ pm.earnedToday }} / {{ pm.daily }}</td>
                    <td><i class="fa fa-egp" title="Daily Revenue"></i></td>
                    <td><sup>{{ pm.todayProgress }}%</sup></td>
                </tr>
                <tr>
                    <td>{{ pm.earnedThisWeek }} / {{ pm.weekly }}</td>
                    <td><i class="fa fa-egp" title="Weekly Revenue"></i></td>
                    <td><sup>{{ pm.weekProgress }}%</sup></td>
                </tr>
                <tr>
                    <td>{{ pm.earnedThisMonth }} / {{ pm.monthly }}</td>
                    <td><i class="fa fa-egp" title="Monthly Revenue"></i></td>
                    <td><sup>{{ pm.monthProgress }}%</sup></td>
                </tr>
                </tbody>
            </table>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = pm.accountsProgress > 0 ? 'widget-success' : 'widget-danger' %}
        {% set widgetBody %}
            <div class="text-center text-nowrap">
                <h4>{{ pm.clientsProgress }}%</h4>
                {{ pm.clientsCount }} <i class="fa fa-users" title="Clients"></i>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = pm.accountsProgress > 0 ? 'widget-success' : 'widget-danger' %}
        {% set widgetBody %}
            <div class="text-center text-nowrap">
                <h4>{{ pm.accountsProgress }}%</h4>
                {{ pm.accountsCount }} <i class="fa fa-briefcase" title="Accounts"></i>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = pm.tasksCompletedProgress > 0 ? 'widget-success' : 'widget-danger' %}
        {% set widgetBody %}
            <div class="text-center text-nowrap">
                <h4>{{ pm.tasksCompletedProgress }}%</h4>
                {{ pm.tasksCompletedCount }} <i class="fa fa-tasks" title="Tasks"></i>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = pm.durationProgress > 0 ? 'widget-success' : 'widget-danger' %}
        {% set widgetBody %}
            <div class="text-center text-nowrap">
                <h4>{{ pm.durationProgress }}%</h4>
                {{ pm.durationSum }} <i class="fa fa-stopwatch" title="Duration"></i>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = pm.revenueProgress > 0 ? 'widget-success' : 'widget-danger' %}
        {% set widgetBody %}
            <div class="text-center text-nowrap">
                <h4>{{ pm.revenueProgress }}%</h4>
                {{ pm.revenueSum }} <i class="fa fa-egp" title="Duration"></i>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set widgetClass = 'widget-info' %}
        {% set widgetBody %}
            <div class="text-center text-nowrap">
                <span>{{ pm.averageReport.avgDur }}</span> <i class="fa fa-stopwatch" title="Duration"></i>
            </div>
            <div class="text-center text-nowrap">
                <span>{{ pm.averageReport.avgIncome }}</span> <i class="fa fa-egp" title="Duration"></i>
            </div>
        {% endset %}
        {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col d-none">
        <div class="dropdown float-right">
            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
        </div>
        <h5 class="text-muted font-weight-normal mt-0" title="Number of Clients">Progress Vs Actuals</h5>
    </div><!-- .col -->
</div><!-- .row -->