{% extends 'base.html.twig' %}

{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{asset('/css/dashboard.css')}}"/>
{% endblock %}
{# TODO: http://bootsnipp.com/user/favorites #}
{% block pageActions %}
  <div class="floating-action dropup">
    <button class="btn btn-info dropdown-toggle" type="button" id="dashboardMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-plus"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dashboardMenuButton">
      <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('tasks_new') }}" id="newTask">
        <i class="fas fa-check"></i></a>
      <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('tasklists_new') }}">
        <i class="fas fa-clipboard-list"></i></a>
      <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('days_new') }}" id="newDay">
        <i class="fas fa-calendar-day"></i></a>
      <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('notes_new') }}">
        <i class="far fa-sticky-note"></i></a>
    </div>
  </div>
{% endblock %}
{% block content %}
  {% include 'AppBundle:Dashboard:progressMonitoring.html.twig'%}
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      {% include 'AppBundle:default:taskLists.html.twig' %}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      {% include 'AppBundle:default:accounts.html.twig' %}
      {% include 'AppBundle:default:costOfLife.html.twig' %}
      {% include 'AppBundle:default:graphs.html.twig' %}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      {% if days|length %}
        {% include 'AppBundle:days:days_list_summary.html.twig' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/js/shortcut.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    shortcut.add("alt+T", function () {
      location.href = "{{ path('tasks_new') }}";});
    shortcut.add("alt+D", function () {
      location.href = "{{ path('days_new') }}";});
    shortcut.add("alt+F", function () {
      location.href = "{{ path('focus') }}";
    });
  </script>
  <script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function taskCompletionByDay() {
      var data = google.visualization.arrayToDataTable([
        ['Day', 'Tasks'],{% for t ,i in tskCnt %}{% if(t) %}
        ['{{t|slice(0, 3)|upper}}', {{i}}],{% endif %}{% endfor %}
      ]);
      var options = {
        legend: 'none',
        pieSliceText: 'label',
        pieHole: 0.4,
        backgroundColor: 'transparent',
        pieSliceBorderColor: '#222222',
      };
      var chart = new google.visualization.PieChart(document.getElementById('taskCompletionGraph'));
      chart.draw(data, options);
    }
    function tasksByPriority() {
      var data = google.visualization.arrayToDataTable([['TaskType', 'TaskCount'],{% for key,i in piechart %} ['{{ key }}', {{ i }}],{% endfor %} ]);
      var options = {
        legend: 'none',
        pieSliceText: 'value',
        backgroundColor: 'transparent',
        pieSliceBorderColor: '#222222',
        slices: {
          0: {color: '#f39c12'},
          1: {color: '#f39c12'},
          2: {color: '#e74c3c'},
          3: {color: '#375a7f'},
          4: {color: '#464545'}
        }
      };
      var chart = new google.visualization.PieChart(document.getElementById('tasksByPriority'));
      chart.draw(data, options);
    }

    function drawChart() {
      taskCompletionByDay();
      tasksByPriority();

    }
    $(window).resize(function () {
      drawChart();
    });
  </script>
{% endblock %}