{% set widgetColclass = "col-lg-2" %}
<div class="row">
  <div class="col">
    <div class="card widget-flat mb-3">
      <div class="card-body" style="position: relative;">
        <div class="dropdown float-right d-none">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
          </div>
        </div>
        <h5 class="text-muted font-weight-normal mt-0 d-none" title="Number of Clients">Progress Vs Actuals</h5>
        {% for key, progress in earned %}
          {% if 'monthly' == key %}
            {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress, 'issued': issuedThisMonth} %}
          {% else %}
            {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress} %}
          {% endif %}
        {% endfor %}
      </div><!-- .card-body -->
    </div> <!-- .card -->
  </div><!-- .col -->
  <div class="{{ widgetColclass }}">
    {% set widgetBody %}
      <span class="float-right">
        <i class="fa fa-users" title="Clients"></i>
      </span>
      {{ progressMonitoring.clientsCount}}
      <br/>
      <span class="text-{{ progressMonitoring.clientsProgress > 0 ? 'success' : 'danger' }}">
        {{ progressMonitoring.clientsProgress }}%
        <span class="float-right">
          <i class="fa fa-arrow-{{ progressMonitoring.clientsProgress > 0  ? 'up':'down'}}"></i>
        </span>
      </span>
    {% endset %}
    {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    {% set widgetBody %}
      <span class="float-right">
        <i class="fa fa-briefcase" title="Accounts"></i>
      </span>
      {{ progressMonitoring.accountsCount}}
      <br/>
      <span class="text-{{ progressMonitoring.accountsProgress > 0 ? 'success' : 'danger' }}">
        {{ progressMonitoring.accountsProgress }}%
        <span class="float-right">
          <i class="fa fa-arrow-{{ progressMonitoring.accountsProgress > 0  ? 'up':'down'}}"></i>
        </span>
      </span>
    {% endset %}
    {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    {% set widgetBody %}
      <span class="float-right">
        <i class="fa fa-tasks" title="Tasks"></i>
      </span>
      {{ progressMonitoring.tasksCompletedCount }}
      <br/>
      <span class="text-{{ progressMonitoring.tasksCompletedProgress > 0 ? 'success' : 'danger' }}">
        {{ progressMonitoring.tasksCompletedProgress }}%
        <span class="float-right">
          <i class="fa fa-arrow-{{ progressMonitoring.tasksCompletedProgress > 0  ? 'up':'down'}}"></i>
        </span>
      </span>
    {% endset %}
    {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
    {% set widgetBody %}
      <span class="float-right">
        <i class="fa fa-egp" title="Revenue"></i>
      </span>
      {{ progressMonitoring.revenueSum }}
      <br/>
      <span class="text-{{ progressMonitoring.revenueProgress > 0 ? 'success' : 'danger' }}">
        {{ progressMonitoring.revenueProgress }}%
        <span class="float-right">
          <i class="fa fa-arrow-{{ progressMonitoring.revenueProgress > 0  ? 'up':'down'}}"></i>
        </span>
      </span>
    {% endset %}
    {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    {% set widgetBody %}
      <span class="float-right">
        <i class="fas fa-stopwatch" title="Duration"></i>
      </span>
      {{ progressMonitoring.durationSum }}
      <br/>
      <span class="text-{{ progressMonitoring.durationProgress  > 0 ? 'success' : 'danger' }}">
        {{ progressMonitoring.durationProgress }}%
        <span class="float-right">
          <i class="fa fa-arrow-{{ progressMonitoring.durationProgress  > 0  ? 'up':'down'}}"></i>
        </span>
      </span>
    {% endset %}
    {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}

    {% set widgetBody %}
      <!-- https://codepen.io/jasonleewilson/pen/gPrxwX -->
      <div id="timedate">
        <a id="h">12</a> :
        <a id="m">00</a>:
        <a id="s">00</a><br/>
        <a id="day">{{ "now"|date('l')}}</a>
        <a id="mon">January</a>
        <a id="d">1</a>,
        <a id="y">0</a>
        {#          {{ day_manager.isWorkingDay() }}#}
      </div>
    {% endset %}
    {% include('AppBundle:Dashboard:_widget_flat.html.twig') %}
  </div> <!-- end col-->
</div><!-- .row -->