{% set widgetColclass = "col-lg-2" %}
<div class="row">
  <div class="col-lg-4">
    <div class="card widget-flat mb-3">
      <div class="card-body" style="position: relative;">
        <div class="dropdown float-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
          </div>
        </div>
        <h5 class="text-muted font-weight-normal mt-0" title="Number of Clients">Progress Vs Actuals</h5>
        {% for key, progress in earned %}
          {% if 'monthly' == key %}
            {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress, 'issued': issuedThisMonth} %}
          {% else %}
            {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress} %}
          {% endif %}
        {% endfor %}
      </div> <!-- end card-body -->
    </div> <!-- end card -->
  </div>
  {#  <div class="col-xl-7 col-lg-8">#}
  {#    <div class="row">#}
  <div class="{{ widgetColclass }}">
    <div class="card widget-flat mb-3">
      <div class="card-body">
        <div class="float-right">
          <i class="fa fa-users widget-icon"></i>
        </div>
        <h5 class="text-muted font-weight-normal mt-2" title="Number of Clients">Clients</h5>
        <h3 class="mt-3 mb-3">{{ progressMonitoring.clientsCount }}</h3>
        <p class="mb-0 text-muted ">
          <span class="text-{{ progressMonitoring.clientsProgress > 0 ? 'success' : 'danger' }} mr-2"><i class="mdi mdi-arrow-up-bold"></i> {{ progressMonitoring.clientsProgress }}%</span>
          <span class="text-nowrap">Since last year</span>  
        </p>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    <div class="card widget-flat mb-3">
      <div class="card-body">
        <div class="float-right">
          <i class="fa fa-tasks widget-icon"></i>
        </div>
        <h5 class="text-muted font-weight-normal mt-2" title="Number of Orders">Tasks</h5>
        <h3 class="mt-3 mb-3">{{ progressMonitoring.tasksCount }}</h3>
        <p class="mb-0 text-muted ">
          <span class="text-{{ progressMonitoring.tasksProgress > 0 ? 'success' : 'danger' }} mr-2"><i class="mdi mdi-arrow-down-bold"></i> {{ progressMonitoring.tasksProgress }}%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    <div class="card widget-flat mb-3">
      <div class="card-body">
        <div class="float-right">
          <i class="fa fa-egp widget-icon"></i>
        </div>
        <h5 class="text-muted font-weight-normal mt-2" title="Average Revenue">Revenue</h5>
        <h3 class="mt-3 mb-3 money-egp">{{ progressMonitoring.revenueSum }}</h3>
        <p class="mb-0 text-muted ">
          <span class="text-{{ progressMonitoring.revenueProgress > 0 ? 'success' : 'danger' }} mr-2"><i class="mdi mdi-arrow-down-bold"></i> {{ progressMonitoring.revenueProgress }}%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    <div class="card widget-flat mb-3">
      <div class="card-body">
        <div class="float-right">
          <i class="fas fa-stopwatch widget-icon"></i>
        </div>
        <h5 class="text-muted font-weight-normal mt-2" title="Growth">Duration</h5>
        <h3 class="mt-3 mb-3">{{ progressMonitoring.durationSum }}</h3>
        <p class="mb-0 text-muted ">
          <span class="text-{{ progressMonitoring.durationProgress > 0 ? 'success' : 'danger' }} mr-2"><i class="mdi mdi-arrow-up-bold"></i> {{ progressMonitoring.durationProgress }}%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div> <!-- end col-->
  {#    </div> <!-- end row -->#}
  {#  </div> <!-- end col -->#}
</div>