{% set widgetColclass = "col-lg-2" %}
<div class="row">
  <div class="col">
    <div class="card widget-flat mb-3">
      <div class="card-body">
        <p>
          {{ day_manager.whatsToday() }}
        </p>
        <p>
          {{ day_manager.isWorkingDay() }}
        </p>
      </div> <!-- end card-body-->
    </div> <!-- end card-->
  </div>
  <div class="col">
    <div class="card widget-flat mb-3">
      <div class="card-body" style="position: relative;">
        <div class="dropdown float-right d-none">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Profit</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
          </div>
        </div>
        <h5 class="text-muted font-weight-normal mt-0 d-none" title="Number of Clients">Progress Vs Actuals</h5>
        {% for key, progress in earned %}
          {% if 'monthly' == key %}
            {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress, 'issued': issuedThisMonth} %}
          {% else %}
            {% include 'AppBundle:Dashboard:progressBars.html.twig' with {'total': attribute(costOfLife, key), 'progress': progress} %}
          {% endif %}
        {% endfor %}
      </div><!-- .card-body -->
    </div> <!-- .card -->
  </div><!-- .col -->
  <div class="{{ widgetColclass }}">
    {% include 'AppBundle:Dashboard:widget-flat.html.twig' with {
'widgetTitle': 'Clients', 
'widgetIcon': 'fa fa-users',
'widgetCount': progressMonitoring.clientsCount, 
'widgetProgress': progressMonitoring.clientsProgress,
'widgetSince': 'year'
} %}

    {% include 'AppBundle:Dashboard:widget-flat.html.twig' with {
'widgetTitle': 'Accounts', 
'widgetIcon': 'fa fa-briefcase',
'widgetCount': progressMonitoring.accountsCount, 
'widgetProgress': progressMonitoring.accountsProgress,
'widgetSince': 'year'
} %}
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    {% include 'AppBundle:Dashboard:widget-flat.html.twig' with {
'widgetTitle': 'Tasks', 
'widgetIcon': 'fa fa-tasks',
'widgetCount': progressMonitoring.tasksCompletedCount, 
'widgetProgress': progressMonitoring.tasksCompletedProgress,
'widgetSince': 'month'
} %}
    {% include 'AppBundle:Dashboard:widget-flat.html.twig' with {
'widgetTitle': 'Revenue', 
'widgetIcon': 'fa fa-egp',
'widgetCount': progressMonitoring.revenueSum, 
'widgetProgress': progressMonitoring.revenueProgress,
'widgetSince': 'month'
} %}
  </div> <!-- end col-->
  <div class="{{ widgetColclass }}">
    {% include 'AppBundle:Dashboard:widget-flat.html.twig' with {
'widgetTitle': 'Duration', 
'widgetIcon': 'fas fa-stopwatch', 
'widgetCount': progressMonitoring.durationSum, 
'widgetProgress': progressMonitoring.durationProgress,
'widgetSince': 'month'
} %}
  </div> <!-- end col-->
</div><!-- .row -->