<div class="card widget-flat mb-3">
  <div class="card-body row">
    <div class="col-7">
      <i class="{{ widgetIcon }} widget-icon mr-2 mb-2" title="{{ widgetTitle }}"></i>
      {{ widgetCount }}
    </div>
    <div class="col-5 text-right">
      <div class="text-{{ widgetProgress > 0 ? 'success' : 'danger' }}">
        <i class="fa fa-arrow-{{ widgetProgress > 0  ? 'up':'down'}}"></i>
        {{ widgetProgress }}%
      </div>
      <span class="text-muted">{{ widgetSince }}</span>
    </div>
  </div> <!-- end card-body-->
</div> <!-- end card-->