{% extends 'base.html.twig' %}
{% block floatingActions %}{{ a.add('currency_new') }}{% endblock %}
{% block panelBack %}{{ a.back('currency_index') }}{% endblock %}
{% block panelTitle %}{{ currency.code }}{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('currency_edit', { 'id': currency.id }) }}
  {{ forms.delete(delete_form) }}
{% endblock %}
{% block panelBody %}
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">{{ currency.name }}</div>
      <div class="col-sm-6">USD {{ (currency.usd/100) }}</div>
    </div>
  </div>
{% endblock %}
