{% extends 'base.html.twig' %}

{% block container %}
    <h1>AccountPayments</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accountPayment.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ accountPayment.amount }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if accountPayment.createdAt %}{{ accountPayment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accountpayments_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('accountpayments_edit', { 'id': accountPayment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
