{% extends 'base.html.twig' %}

{% block body %}
  <h1>Things list</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Createdat</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for thing in things %}
        <tr>
          <td><a href="{{ path('thing_show', { 'id': thing.id }) }}">{{ thing.id }}</a></td>
          <td>{{ thing.name }}</td>
          <td>{% if thing.createdAt %}{{ thing.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
          <td>
            <ul>
              <li>
                <a href="{{ path('thing_show', { 'id': thing.id }) }}">show</a>
              </li>
              <li>
                <a href="{{ path('thing_edit', { 'id': thing.id }) }}">edit</a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('thing_new') }}">Create a new thing</a>
    </li>
  </ul>
{% endblock %}
