{% extends 'base.html.twig' %}
{% block title %}Things{% endblock %}

{% block floatingActions %}
  <a href="{{ path('thing_new') }}">New thing</a>
{% endblock %}

{% block content %}
  <h1>Things list</h1>
  <div class="list-group">
    {% for thing in things %}
      <div href="#thing-{{ thing.id }}" id="thing-{{ thing.id }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ thing.name }}</h5>
          {% if thing.createdAt %}<small class="text-muted" title="{{ thing.createdAt|date }}">{{ thing.createdAt|time_diff }}</small>{% endif %}
        </div>
        {#        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>#}
        <div class="float-right">
          <a href="{{ path('thing_show', { 'id': thing.id }) }}">show</a>
          <a href="{{ path('thing_edit', { 'id': thing.id }) }}">edit</a>
        </div>
        {#        <small class="text-muted">Donec id elit non mi porta.</small>#}
      </div>
    {% endfor %}
  </div>
{% endblock %}
