{% extends '_modal.html.twig' %}
{% block modal_header %}New Task List{% endblock %}
{% block form_start %}
    {{ form_start(form) }}
{% endblock %}
{% block modal_body %}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    <div class="d-flex justify-content-between">
        {{ form_row(form.account) }}
    </div>
{% endblock %}
{% block modal_footer %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{% endblock %}
{% block form_end %}
    {{ form_end(form) }}
{% endblock %}
