{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
<ul class="list-group">
  {% for taskList in taskLists %}
    <li class="list-group-item">
      <a class="btn btn-default" href="{{ path('tasklists_show', { 'id': taskList.id }) }}">
        {{ taskList.name }}
        <span class="badge">{{ taskList.tasks(false)|length }}</span>
        <span class="label label-default">{{ taskList.status|capitalize }}</span>
        <span class="label label-default">{{ taskList.createdAt ? taskList.createdAt|date('Y-m-d H:i') }}</span>
      </a>
      <span class="panel-title-labels">
        {% if (taskList.account) %}
          <a href="{{ path('accounts_show', {'id': taskList.account.id}) }}"
             class="label label-info">{{ taskList.account.name }}</a>
          {% if (taskList.account.client) %}
            <a href="{{ path('client_show', {'id': taskList.account.client.id}) }}"
               class="label label-primary">{{ taskList.account.client.name }}</a>
          {% endif %}
        {% endif %}
      </span>
      <div class="btn-group btn-group-sm edit-fixed-link">
        {{ a.add('tasks_new', {"tasklist": taskList.id}) }}
        <button type="button" class="btn btn-primary me" 
                data-tasklistid="{{ taskList.id }}" 
                data-tasklist="{{ taskList.name }}">
          <span class="glyphicon glyphicon-list-alt"></span></button>

        {% if(taskList.status == 'archive') %}
          <a type="button" class="btn btn-default" 
             data-tasklistid="{{ taskList.id }}" 
             data-tasklist="{{ taskList.name }}"
             href="{{ path('tasklists_unarchive', { 'id': taskList.id }) }}">
            <span class="glyphicon glyphicon-folder-open"></span></a>

        {% else %}
          <a type="button" class="btn btn-default" 
             data-tasklistid="{{ taskList.id }}" 
             data-tasklist="{{ taskList.name }}"
             href="{{ path('tasklists_archive', { 'id': taskList.id }) }}">
            <span class="glyphicon glyphicon-folder-close"></span></a>

        {% endif %}

        {{ a.edit('tasklists_edit', { 'id': taskList.id }) }}
      </div>
    </li>
  {% endfor %}
</ul>