{% extends ':scratchpad:base.html.twig' %}
{% block padDelete %}
  {{ form_start(delete_form, {"attr":{"class":"delete-form"} }) }}
  <button type="submit" value="Delete" class="btn btn-danger btn-xs btn-confirm">
    <span class="glyphicon glyphicon-trash"></span></button>

  {{ form_end(delete_form) }}
{% endblock %}
{% block scratchPad %}
  {{ form_start(edit_form) }}
  <div id="scratchpad-content" class="panel-body list-group">
    {{scratchPad.content|raw}}
  </div>
  {{ form_end(edit_form) }}
{% endblock %}
