{% extends ':scratchpad:base.html.twig' %}

{% block floatingActions %}{{ a.add('scratchpad_new') }}{% endblock %}
{% block panelTitle %}Scratch Pad{% endblock %}
{% block panelBody %}
  <table class="table">
    <thead>
      <tr>
        <th>Scratchpad</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for scratchPad in scratchPads %}
        <tr>
          <td><a href="{{ path('scratchpad_show', { 'id': scratchPad.id }) }}">{{ scratchPad.createdAt|date }}</a></td>
          <td>
            <div class="btn-group">
              {{ a.show('scratchpad_show', { 'id': scratchPad.id }) }}
              {{ a.edit('scratchpad_edit', { 'id': scratchPad.id }) }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
{#
{% block footer %}
  <div id="scratchpad-widget" class="panel panel-default">
    <div class="panel-heading clearfix">
      <button data-toggle="collapse" href="#scratchpad-collapse" class="btn btn-default btn-xs btn-block collapsed">
        Scratch Pad
      </button>
    </div>
    <div id="scratchpad-collapse" class="panel-collapse collapse">
      <div id="scratchpad-content" class="panel-body list-group"></div>
    </div>
  </div>
{% endblock %}
#}