{% extends 'base.html.twig' %}


{% block panelTitle %}Task Lists{% endblock %}
{% block pageActions %}
    <div class="floating-action">
        <a href="{{ path('tasklists_new') }}" class="bg-primary"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
{% endblock %}

{% block panelBody %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Createdat</th>
                </tr>
            </thead>
            <tbody>
                {% for taskList in taskLists %}
                    <tr>
                        <td>
                            {{ taskList.name }}
                            <small class="edit-link"><sup>
                                    <a class="btn btn-xs text-warning" href="{{ path('tasklists_edit', { 'id': taskList.id }) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a></sup></small>
                        </td>
                        <td><span class="label label-default">{{ taskList.status|capitalize }}</span></td>
                        <td>{{ taskList.createdAt ? taskList.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
