{% extends 'base.html.twig' %}


{% block panelTitle %}Task Lists{% endblock %}
{% block pageActions %}
    <div class="floating-action">
        <a href="{{ path('tasklists_new') }}" class="bg-primary"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
{% endblock %}

{% block panelBody %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                {% for taskList in taskLists %}
                    <tr>
                        <td>
                            {{ taskList.name }}
                            <span class="badge">{{ taskList.tasks|length }}</span>
                            <span class="label label-default">{{ taskList.status|capitalize }}</span>
                            <span class="label label-default">{{ taskList.createdAt ? taskList.createdAt|date('Y-m-d H:i') }}</span>
                            <small class="edit-link">
                                <a class="btn btn-xs" href="{{ path('tasklists_show', { 'id': taskList.id }) }}"><span class="glyphicon glyphicon-folder-open"></span></a>
                                <a class="btn btn-xs" href="{{ path('tasklists_edit', { 'id': taskList.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
