{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ block('panelTitle')|striptags }}{% endblock %} | myApp</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
        <!-- Bootswatch Darkly theme-->
        <link href="{{ asset('/assets/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('/css/bootstrap-darkly.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/assets/jquery-ui-1.12.1/jquery-ui.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/assets/jquery-ui-1.12.1/jquery-ui.theme.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/css/chosen.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('/assets/fontawesome-free-5.9.0-web/css/all.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <!-- Custom Styling -->
        <link rel="stylesheet" href="{{ asset('/css/common.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/frontend.css') }}">

        <link rel="stylesheet" href="{{ asset('/css/custom.css') }}"/>
        {# <script src="https://kit.fontawesome.com/f85e5626c0.js"></script> #}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="{% block bodyClasses %}{{ get_controller_name() }} {{ get_action_name() }} {{ app.request.attributes.get("_route") }}{% endblock %}">
<div id="ajax-container"></div>
{% block body %}
    {% block nav %}
        {% include 'nav.html.twig' %}
    {% endblock %}
    <div class="container-fluid">
        {% block container %}
            {% block pageActions %}
                <div class="floating-action">
                    {% block floatingActions %}
                    {% endblock %}
                </div>
            {% endblock %}
            {% include 'flash.html.twig' %}
            {% block formStart %}{% endblock %}
            {% block content %}
                <div class="d-flex justify-content-center">
                    <div class="{% block panelWrapperClass %}flex-fill{% endblock %}">
                        {% block panel %}
                            <div class="card bg-{% block panelClass %}default{% endblock %}">
                                {% block panelHeading %}
                                    <div class="card-header">
                                        {% block panelBack %}
                                            <a href="{{ path('dashboard') }}"
                                               class="btn btn-secondary btn-sm">
                                                Dashboard
                                            </a>
                                        {% endblock %}
                                        <span>{% block panelTitle %}{% endblock %}</span>
                                        <small class="card-title-small">{% block panelTitleSmall %}{% endblock %}</small>
                                        <span class="card-title-labels">{% block panelTitleLabels %}{% endblock %}</span>
                                        <div class="float-right">{% block panelHeadingRight %}{% endblock %}</div>
                                    </div><!-- .card-header -->
                                {% endblock %}
                                {% block panelBody %}
                                {% endblock %}
                            </div><!-- .card -->
                        {% endblock %}
                    </div><!-- .flex-fill -->
                </div><!-- .d-flex -->
            {% endblock %}
            {% block formEnd %} {% endblock %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% if app.user %}
        {% include 'bottom-bar.html.twig' %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var tasks_path = '{{ path('tasks_index') }}';
        var tasks_order = '{{ path('tasks_order') }}';
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('/assets/jquery-3.4.1/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('/assets/jquery-3.4.1/jquery-migrate-1.4.1.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('/assets/popper.min.js') }}"></script>
    <script src="{{ asset('/assets/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="{{ asset('/assets/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('/js/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('/js/common.js') }}"></script>
    <script src="{{ asset('/js/tasks.js') }}"></script>
{% endblock %}
</body>
</html>
