{% extends 'base.html.twig' %}
{% import "tasks/tasks_macros.html.twig" as tasks_view %}

{% block panelBack %}{{ a.back('planner_index') }}{% endblock %}

{% block panelTitle %}
  {{ planner.name }} 
{% endblock %}
{% block panelTitleLabels %}
  <span class="label label-{{(planner.due|date('Y-m-d') >= "now"|date('Y-m-d') )? 'success':'warning'  }}">
    {% if planner.due %}{{ planner.due|date('Y-m-d') }}{% endif %}
  </span>
{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('planner_edit', {'id':planner.id}) }}
  {{ forms.delete(delete_form) }}

{% endblock %}
{% block panelBody %}{{ tasks_view.ul(planner.tasks) }}{% endblock %}
