{% extends 'base.html.twig' %}

{% block panelTitle %}Edit Transactions{% endblock %}
{% block panelTitleSmall %}{{accounttransactions.account.name}}{% endblock %}
{% block panelBack %}<a href="{{ path('accounttransactions_index') }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></a>{% endblock %}

{% block panelHeadingRight %}
    {{ form_start(delete_form) }}
    <button type="submit" value="Delete" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>

    {{ form_end(delete_form) }}
{% endblock %}
{% block panelBody %}

    {{ form_start(transaction_form) }}
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-11">
                {{ form_widget(transaction_form) }}
            </div>
            <div class="col-sm-1">
                <button type="submit" value="Edit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
    {{ form_end(transaction_form) }}
{% endblock %}


{% block container %}
    <h1>AccountTransactions edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('accounttransactions_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
