<table class="table table-condensed table-bordered table-striped table-txn">
  <thead>
    <tr>
      <th>#</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Issued At</th>
      <th>Note</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% set total=0 %}
    {% for accountTransaction in accountTransactions %}
      {% set total = total + accountTransaction.amount %}
      <tr>
        <td><a href="{{ path('accounttransactions_show', { 'id': accountTransaction.id }) }}">{{ accountTransaction.id }}</a></td>
        <td class="text-right">{{ accountTransaction.amount|number_format }} <span class="pull-left">EGP</span></td>
        <td>{{ accountTransaction.account.name }}</td>
        <td>{% if accountTransaction.issuedAt %}{{ accountTransaction.issuedAt|date('Y-m-d') }}{% endif %}</td>
        <td>{{ accountTransaction.note }}</td>
        <td>{% if accountTransaction.createdAt %}{{ accountTransaction.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
          <div class="btn-group">
            {{ a.show('accounttransactions_show', { 'id': accountTransaction.id }) }}
            {{ a.edit('accounttransactions_edit', { 'id': accountTransaction.id }) }}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th class="text-right">Total</th>
      <th class="text-right">EGP {{ total|number_format }}</th>
      <th colspan="5"></th>
    </tr>
  </tfoot>
</table>