{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}
    {{ a.linkGlyph('primary btn-ajax', 'fa fa-plus', 'sizing_new_task', {'id':tasklist.id}) }}
{% endblock %}
{% block title %}Sizing{% endblock %}
{% block content %}
    {# @todo: delete tasks #}
    {# @todo: fix card header #}
    {# @todo: save data inputs #}
    <style>
        table tr td:nth-child(3),
        table tr td:nth-child(4),
        table tr td input {
            text-align: right;
        }
    </style>
    <h2>Size tasks</h2>
    <div class="card">
        <div class="card-header">
            {{ tasklist }} - {{ tasklist.account }} - {{ tasklist.account.client }}
            <span class="float-right" id="rate" data-rate="{{ rate_calculator.getRate(tasklist.account.client) }}">
                EGP {{ rate_calculator.getRate(tasklist.account.client)|number_format }}</span>
        </div>
        <div class="card-body">
            <div class="d-flex flex-fill justify-content-between">
                <div>Status: {{ tasklist.status }};</div>
                <div>CreatedAt: {{ tasklist.createdAt|date }};</div>
                <div>UpdatedAt: {{ tasklist.updatedAt|date }}</div>
            </div>
        </div>
    </div>
    <div class="tasks">
        {{ form_start(form) }}

        <h3>Tasks</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>task</th>
                <th>est</th>
                <th>value</th>
                <th>eta</th>
                <th>priority</th>
                <th>urgency</th>
            </tr>
            </thead>
            <tbody>
            {# {% for task in tasklist.tasks %} #}
            {% for task in form.tasks %}
                {% if not task.vars.value.completed %}
                    <tr id="{{ task.vars.value.id }}">
                        <td>{{ task.vars.value.id }}</td>
                        <td>{{ form_widget(task.task) }}</td>
                        <td>{{ form_widget(task.est, {'attr':{'data-task':task.vars.value.id}}) }}</td>
                        <td class="total"></td>
                        <td>{{ form_widget(task.eta) }}</td>
                        <td>
                            {{ form_widget(task.priority) }}
                        </td>
                        <td>
                            {{ form_widget(task.urgency) }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>#</td>
                {# @todo: count tasks #}
                <td>{{ tasklist.tasks|length }}</td>
                <th id="est-total" data-est=0></th>
                <th id="total" data-total=0></th>
                <td colspan="3"></td>
            </tr>
            </tfoot>
        </table>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# @todo: create class #}
    <script>
        function calculateEstTotal() {
            let estTotal = 0;
            $('input.est').each(function () {
                estTotal += parseInt($(this).val(), 10) || 0;
            });
            $('#est-total')
                .data('total', estTotal)
                .text(estTotal);

            return estTotal;
        }

        function updateTotal() {
            let estTotal = calculateEstTotal();
            let total = parseInt(estTotal * rate / 60, 10) || 0;
            $('#total')
                .data('total', total)
                .text('EGP ' + total + '.00');
        }

        function estChanged() {
            $task = $(this).data('task');
            let newEst = $(this).val();
            $('#' + $task + ' .total').text(parseInt(newEst * rate / 60, 10) || 0);
            updateTotal();
        }

        let rate = parseInt($('#rate').data('rate'), 10) || 0;
        $(function () {
            $('input').change(estChanged);
            updateTotal();
        })
    </script>
    <script>
        $(function () {
            $('.btn-ajax').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
                $.ajax({
                    type: "GET",
                    url: $(this).attr("href"),
                    dataType: "json"
                }).done(function (data) {
                    $('#ajax-container').html(data);
                    $('.modal').modal('show');
                });
            });
        });
    </script>
{% endblock %}
