{% extends 'base.html.twig' %}
{% block panelBack %}{{ a.back('worklog_index') }}{% endblock %}

{% block panelTitle %}{{ worklog.name }}{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('worklog_edit', {'id':worklog.id}) }}
  {{ forms.delete(delete_form) }}

{% endblock %}
{% block panelBody %}
  <table>
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ workLog.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ workLog.name }}</td>
      </tr>
      <tr>
        <th>Duration</th>
        <td>{{ workLog.duration }}</td>
      </tr>
      <tr>
        <th>Price per unit</th>
        <td>{{ workLog.pricePerUnit }}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td>{{ workLog.total }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

