<table class="table table-condensed">
  <tbody>
    {% set total = 0 %}
    {% for account in accounts %}
      {% if account.balance or not hideEmpty %}
        {% set total = total + account.balance %}
        <tr>
          <td>
            <div class="btn-group btn-group-justified">
              <a href="{{ path('accounts_show', { 'id': account.id }) }}" 
                 class="btn btn-default" style="text-align: left;">
                {{ account.name }}
              </a>
              <a href="{{ path('accounts_show', { 'id': account.id }) }}" 
                 class="btn btn-{{ account.balance == 0 ? "default" : account.balance < 0 ? "success": "danger" }}" 
                 style="text-align: right;">
                <span class="pull-left">EGP</span> {{ account.balance|number_format }}
              </a>
              {{ a.add('accounttransactions_new', { 'account': account.id }) }}
            </div>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="table-bordered">
      <td>
        <div class="btn-group btn-group-justified">
          <span class="btn btn-primary" 
                style="text-align: left;font-weight: bold;">
            Total
          </span>
          <span class="btn btn-{{ total == 0 ? "default" : total < 0 ? "success": "danger" }}" 
                style="text-align: right;font-weight: bold;">
            <span class="pull-left">EGP</span> {{ total|number_format }}
          </span>
          {{ a.add('accounttransactions_new') }}
        </div>
      </td>
    </tr>
  </tfoot>
</table>