{% extends 'base.html.twig' %}
{% block pageActions %}
  <div class="floating-action">
    {{ a.add('accounttransactions_new', { 'account': account.id }) }}
  </div>
{% endblock %}
{% block panelBack %}{{ a.back('accounts_index') }}{% endblock %}

{% block panelTitle %}{{ account.name }}{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('accounts_edit', {'id':account.id}) }}
  {{ forms.delete(delete_form) }}

{% endblock %}
{% set accountTransactions = account.transactions %}
{% block panelBody %}
  {% include 'accounttransactions/transactions_list.html.twig' %}
{% endblock %}

{# TODO: show account info#}