{% extends 'base.html.twig' %}

{% block title %}ScenarioObjective index{% endblock %}

{% block content %}
    <h1>ScenarioObjective index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Priority</th>
                <th>Urgency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario_objective in scenario_objectives %}
            <tr>
                <td>{{ scenario_objective.id }}</td>
                <td>{{ scenario_objective.name }}</td>
                <td>{{ scenario_objective.value }}</td>
                <td>{{ scenario_objective.priority }}</td>
                <td>{{ scenario_objective.Urgency }}</td>
                <td>
                    <a href="{{ path('scenario_objective_show', {'scenario': scenario, 'id': scenario_objective.id}) }}">show</a>
                    <a href="{{ path('scenario_objective_edit', {'scenario': scenario, 'id': scenario_objective.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scenario_objective_new', {'scenario': scenario}) }}">Create new</a>
{% endblock %}
