{% import "macros/forms.html.twig" as forms %}

 {{ form_start(account_form) }}
<div class="card-body">
    <div class="d-flex justify-content-around">
        <div class="account-details d-flex flex-column">
            {{ form_row(account_form.name) }}
            {{ form_row(account_form.client) }}
            {{ form_row(account_form.conceal) }}
        </div>
        <div class="billing-details d-flex flex-column">
            {{ form_row(account_form.billingType) }}
        </div>
    </div>
</div>
<div class="card-footer text-right">
    <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
    {# <button type="submit" value="Save" class="btn btn-success">Save</button> #}
</div>
{{ form_end(account_form) }}
