{% import "macros/a.html.twig" as a %}
<table class="table table-condensed table-bottom-border accounts">
  <tbody>
    {% set total = 0 %}
    {% for account in accounts %}
      {% if account.balance or not hideEmpty %}
        {% set total = total + account.balance %}
        <tr>
          <td>
            <a href="{{ path('accounts_show', { 'id': account.id }) }}" 
               class="btn btn-sm btn-link text-{{ account.balance == 0 ? "default" : account.balance < 0 ? "success": "danger" }}">
              {% if (account.client) %}
                <span class="badge badge-primary">{{ account.client.name }}</span>
              {% endif %}
              {{ account.name }}
            </a>
          </td>
          <td>
            <a href="{{ path('accounts_show', { 'id': account.id }) }}" 
               class="btn btn-sm btn-link text-{{ account.balance == 0 ? "default" : account.balance < 0 ? "success": "danger" }}">
              EGP {{ account.balance|number_format }}
            </a>
          </td>
          <td>
            {{ a.add('accounttransactions_new', { 'account': account.id }) }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr class="table-bordered">
      <td>
        <span class="btn btn-secondary btn-sm" 
              style="text-align: left;font-weight: bold;">
          Total
        </span>
      </td>
      <td>
        <span class="btn btn-sm btn-{{ total == 0 ? "default" : total < 0 ? "success": "danger" }}" 
              style="text-align: right;font-weight: bold;">
          EGP {{ total|number_format }}
        </span>
      </td>
      <td>
        {{ a.add('accounttransactions_new') }}
      </td>
    </tr>
  </tfoot>
</table>