{% extends 'base.html.twig' %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}
  {{ a.add('accounttransactions_new', { 'account': account.id }) }}
{% endblock %}
{% block panelBack %}{{ a.back('accounts_index') }}{% endblock %}

{% block panelTitle %}{{ account.name }}{% endblock %}

{% block panelTitleLabels %}
  {% if (account.client) %}
    <a href="{{ path('client_show', {'id': account.client.id}) }}"
       class="label label-primary">
      {{ account.client.name }}
    </a>
  {% endif %}
{% endblock %}
{% block panelHeadingRight %}
  {{ a.edit('accounts_edit', {'id':account.id}) }}
  {{ forms.delete(delete_form) }}

{% endblock %}
{% set accountTransactions = account.transactions %}
{% block panelBody %}
  <div class="panel-body panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <span class="panel-title">Transactions
        </span>
        <div class="pull-right">
          <span class="label label-default">{{ accountTransactions.count }}</span>
          <span class="label label-{{ (account.balance < 0)? "success": "danger" }}">EGP {{ account.balance|number_format }}</span>

          <button data-toggle="collapse" href="#txn-{{ account.id }}" class="btn btn-primary btn-xs collapsed">-</button>
        </div>
      </div>
      <div id="txn-{{ account.id }}" class="panel-collapse collapse">
        {% include 'AppBundle:accounttransactions:transactions_list.html.twig' %}
      </div>
    </div>

    {% for taskList in account.taskLists %}
      {% if taskList.tasks|length %}
        {% set tasks = taskList.tasks %}
        <div class="panel panel-primary">
          <div class="panel-heading clearfix">
            <span class="panel-title">
              <a href="{{ path('tasklists_show', {"id":taskList.id}) }}">{{ taskList.name }}</a>
            </span>
            <div class="pull-right">
              <span class="label label-default">{{ taskList.tasks(false).count }}</span>
              <span class="label label-info">{{ taskList.estTotal|date("%d %H:%I") }}</span>
              <button data-toggle="collapse" href="#taskList-{{ taskList.id }}" class="btn btn-primary btn-xs collapsed">-</button>
            </div>
          </div>
          <div id="taskList-{{ taskList.id }}" class="panel-collapse collapse">
            {{ tasks_view.ul(tasks, '',false) }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
{% endblock %}

{# TODO: show account info #}