{% extends 'base.html.twig' %}

{% block title %}HabitLog index{% endblock %}

{% block body %}
    <h1>HabitLog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsCompleted</th>
                <th>CompletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habit_log in habit_logs %}
            <tr>
                <td>{{ habit_log.id }}</td>
                <td>{{ habit_log.isCompleted ? 'Yes' : 'No' }}</td>
                <td>{{ habit_log.completedAt ? habit_log.completedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('habit_log_show', {'id': habit_log.id}) }}">show</a>
                    <a href="{{ path('habit_log_edit', {'id': habit_log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('habit_log_new') }}">Create new</a>
{% endblock %}
