{% extends 'base.html.twig' %}

{% block title %}HabitLog{% endblock %}

{% block body %}
    <h1>HabitLog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habit_log.id }}</td>
            </tr>
            <tr>
                <th>IsCompleted</th>
                <td>{{ habit_log.isCompleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CompletedAt</th>
                <td>{{ habit_log.completedAt ? habit_log.completedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('habit_log_index') }}">back to list</a>

    <a href="{{ path('habit_log_edit', {'id': habit_log.id}) }}">edit</a>

    {{ include('habit_log/_delete_form.html.twig') }}
{% endblock %}
