{% extends 'base.html.twig' %}

{% block floatingActions %}
    <a href="{{ path('new_expense') }}" class="bg-primary"><span class="glyphicon glyphicon-minus"></span></a>
    <a href="{{ path('new_income') }}" class="bg-primary"><span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}
{% block panelTitle %}Transactions <small>{{transactions|length}}</small>{% endblock %}
{% block panelBody %}
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.amount }}</td>
                    <td>{% if transaction.date %}{{ transaction.date|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('transactions_show', { 'id': transaction.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('transactions_edit', { 'id': transaction.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
