{% set widgetClass ="widget-info" %}
{#{% set daysDiff = (("last day of this month"|date_modify("-4 days")).diff(date("now")).days) %}#}
{#{% set pm = progressMonitoring %}#}
<div class="row d-print-none">
    <div class="col">
        {% set widgetBody %}
            <!-- https://codepen.io/jasonleewilson/pen/gPrxwX -->
            <!-- https://www.timeanddate.com/worldclock/egypt/cairo -->
            <div id="timedate" class="text-right text-nowrap">
                <div class="h3">
                    <strong><a id="h">{{ "now"|date("H") }}</a>:<a id="m">{{ "now"|date("i") }}</a></strong>
                    <sup><a id="s">{{ "now"|date("s") }}</a></sup>
                </div>
                <strong>
                    <a id="y">{{ "now"|date("Y") }}</a>-<a id="mon">{{ "now"|date("m") }}</a>-<a
                            id="d">{{ "now"|date("d") }}</a>
                    <a id="day">{{ "now"|date('l') }}</a>
                </strong>
            </div>
        {% endset %}
        {% include('dashboard/_widget_flat.html.twig') %}
    </div><!-- col -->
    <div class="col">
        {% set bb = bottom_bar %}
        {% set contracts = bb.getContractsProgress() %}
        {% set widgetBody %}
            {% for contract in contracts %}
                <a href="{{ path('focus', {'client': contract.client.id}) }}">
                    {{ contract.name }} - {{ (contract.progress.dailyTarget/60)|round }}
                </a>
                <div class="progress" title="dailyTarget - {{ (contract.progress.dailyTarget/60)|round }}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ contract.progress.todaysProgress }}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{ contract.progress.todaysProgress }}%">
                        {{ contract.progress.todaysProgress|number_format }}%
                    </div>
                </div>
            {% endfor %}
        {% endset %}
        {% include('dashboard/_widget_flat.html.twig') %}
    </div><!-- col -->
</div><!-- .row -->