{% extends 'base.html.twig' %}

{# {% import "tasks/tasks_macros.html.twig" as tasks_view %} #}
{% import "tasks/tasks_macros.html.twig" as tasks_view %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/dashboard.css') }}"/>
{% endblock %}
{# TODO: http://bootsnipp.com/user/favorites #}
{% block pageActions %}
 <div class="floating-action dropup">
    <button class="btn btn-info dropdown-toggle" type="button" id="dashboardMenuButton"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dashboardMenuButton">
        <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('tasks_new') }}" id="newTask">
            <i class="fas fa-check"></i></a>
        <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('tasklists_new') }}">
            <i class="fas fa-clipboard-list"></i></a>
        <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('days_new') }}" id="newDay">
            <i class="fas fa-calendar-day"></i></a>
        <a class="dropdown-item mb-2 btn bg-primary" href="{{ path('notes_new') }}">
            <i class="far fa-sticky-note"></i></a>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            {% include 'default/taskLists.html.twig' %}
            <button class="btn btn-primary btn-sm float-right" type="button"
                    data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Bera7a
            </button>
            <div class="collapse" id="collapseExample">
                <ul style="list-style: none; padding-left: 3px;">
                    <li>
                        Don't plan shit in the morning
                    </li>
                    <li>
                        Make it so you have small tasks to conquer first
                    </li>
                    <li>
                        we rabena yostor
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            {#            {% include 'default/accounts.html.twig' %} #}
            {% include 'default/costOfLife.html.twig' %}
            {% include 'default/graphs.html.twig' %}
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <hr class="border-info"/>
            {% if days|length %}
                {% include 'days/days_list_summary.html.twig' %}
                {% include 'holiday/holidays_list_summary.html.twig' %}
            {% endif %}
        </div>
    </div>
    <!-- templates/dashboard.html.twig -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.tskCnt = {{ tskCnt|json_encode|raw }};
        window.piechart = {{ piechart|json_encode|raw }};
    </script>
    <script type="module" src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}