{% extends 'base.html.twig' %}
{% block panelBack %}
  <a href="{{ path('goal_show', {'id':goal.id}) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span></a>

{% endblock %}

{% block panelTitle %}Edit goal{% endblock %}
{% block panelTitleSmall %}{{ goal.name }}{% endblock %}
{% block panelHeadingRight %}
  {{ form_start(delete_form) }}
  <button type="submit" value="Delete" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-trash"></span></button>

  {{ form_end(delete_form) }}
{% endblock %}
{% block panelBody %}
  {{ form_start(edit_form) }}
  <div class="panel-body">
    {{ form_widget(edit_form) }}  
    <div><a href="#" id="add-another-req">Add another requirement</a></div>
    <button type="submit" value="Edit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></button>
  </div>
  {{ form_end(edit_form) }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    // keep track of how many req fields have been rendered
    var reqCount = '{{ edit_form.requirements|length }}';

    $(document).ready(function () {
      $('#add-another-req').click(function (e) {
        e.preventDefault();

        var reqList = $('#appbundle_goal_requirements');

        // grab the prototype template
        var newWidget = reqList.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your reqs
        // end name attribute looks like name="contact[reqs][2]"
        newWidget = newWidget.replace(/__name__/g, reqCount);
        reqCount++;

        // create a new list element and add it to the list
        var newLi = $('<div></div>').html(newWidget);
        newLi.appendTo(reqList);
      });
    })
  </script>
{% endblock %}
