{% extends "::base.html.twig" %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}

{% block title %}AppBundle:Planner:index{% endblock %}

{% block content %}
  <style>
    .planner-tasks{padding: 5px;}
    .planner-tasks .list-group-item{min-height: 50px;}
  </style>
  <h1>Welcome to the Planner:index page</h1>
  <div class="row">
    <div id="planner" class="col">
      {% for key,planner in planners %}
        <div class="card mb-2">
          <button class="text-left bg-transparent border-0 p-0" type="button" data-toggle="collapse" 
                  data-target="#planner-{{ key }}" aria-expanded="false" 
                  aria-controls="planner-{{ key }}">
            <div class="card-header px-3 py-2">
              <span class="card-title mr-2">
                {{ planner|date('Y-m-d') }}
              </span>
            </div>
          </button>
          <div class="" id="planner-{{ key }}">
            <ul class="list-group planner-tasks task-list" data-planner="{{ key }}">
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="taskLists" class="col">
      <div class="container">
        {{ tasks_view.ul(completed, 'completed') }}
        {{ tasks_view.ul(tasks, 'tasks' ) }}
        {% for taskList in taskLists %}
          {% if taskList.tasks|length %}
            {% set tasks = taskList.tasks(false) %}
            <div class="card">
              <button class="text-left bg-transparent border-0 p-0" type="button" data-toggle="collapse" 
                      data-target="#taskList-{{ taskList.id }}" aria-expanded="false" 
                      aria-controls="taskList-{{ taskList.id }}">
                <div class="card-header px-3 py-2">
                  <span class="card-title mr-2">
                    {{ taskList.name }}
                  </span>
                  <span class="card-title-labels">
                    {% if (taskList.account) %}
                      <span class="badge badge-info">
                        {{ taskList.account.name }}
                      </span>
                      {% if (taskList.account.client) %}
                        <span class="badge badge-primary">
                          {{ taskList.account.client.name }}
                        </span>
                      {% endif %}
                    {% endif %}
                  </span>
                  <div class="float-right">
                    <span class="badge badge-dark">{{ tasks.count }}</span>
                    <span class="badge badge-info">{{ taskList.durationTotal(false)|date("%d %H:%I") }}</span>
                  </div>
                </div>
              </button>
              <div class="collapse" id="taskList-{{ taskList.id }}">
                {{ tasks_view.ul(tasks, '',false) }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    var planners = [];
    function updatePlanner(e, ui) {
      if (this === ui.item.parent()[0]) {
        $('.planner-tasks').each(function () {
          $plannerId = $(this).data('planner');
          planners[$plannerId] = [];
          $(this).children('li:not(.completed)').each(function () {
            planners[$plannerId].push($(this).data('id'));
          });
        });
        console.log(planners);
        $.ajax({
          data: {"planners": planners},
          dataType: "json",
          type: 'POST',
          url: planner_update
        }).done(function () {
        });
      }
    }
  </script>
  <script>
    var planner_update = '{{ path("planner_update") }}';


    $(function () {
      $(".task-list").sortable({
        connectWith: "ul.planner-tasks, ul.task-list",
        items: "li:not(.completed)",
        update: updatePlanner
      });
    })
  </script>
{% endblock %}
