{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}
  <a href="{{ path('pricerate_new') }}" role="button"
     title="note"
     class="btn btn-sm btn-primary">
    <span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}
{% block panelTitle %}Price Rates{% endblock %}
{% block panelBody %}
  <table class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Priceperunit</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for priceRate in priceRates %}
        <tr>
          <td>{{ priceRate.name }}</td>
          <td>{{ priceRate.unit }}</td>
          <td>{{ priceRate.pricePerUnit }}</td>
          <td>
            <div class="btn-group">
              {{ a.show('pricerate_show', { 'id': priceRate.id }) }}
              {{ a.edit('pricerate_edit', { 'id': priceRate.id }) }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
