{% extends "::base.html.twig" %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}

{% block floatingActions %}{{ a.add('balance_new') }}{% endblock %}

{% block panelBack %}
  <a href="{{ path('budget_index') }}" 
     class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-piggy-bank"></span>
  </a>
{% endblock %}

{% block panelTitle %}Budgeting{% endblock %}

{% block panelHeadingRight %}
  <a href="{{ path('balance_index') }}">Balance</a>
{% endblock %}

{% block panelBody %}
  <style>
    table, th, td{
      overflow: hidden;
    }
  </style>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th class="hidden-xs">Days</th>
          <th>Value</th>
          <th class="text-right {{ (balance.initial <= 0) ? "text-danger"}}">
            <span class="pull-left hidden-xs">EGP</span> {{ balance.initial|number_format }}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for row in balance.sheet %}
          <tr data-timestamp="{{ row.date.timestamp }}"
              class="{{ (balance.today.diff(row.date).invert == 1) ? "text-muted" : (balance.today.diff(row.date).d == 0) ? "text-bold active text-primary" }} ">
            <td>{{ row.title }}</td>
            <td>{{ row.date|date('d/m') }}</td>
            <td class="hidden-xs">{{ row.days.invert ? "-"}} {{ row.days|date  }}</td>
            <td class="text-right {{ (row.amount <= 0) ? "text-success"}}">
              <span class="pull-left hidden-xs">EGP</span>
              {{ row.amount|number_format }}
            </td>
            <td class="text-right {{ (row.balance <= 0) ? "text-danger"}}">
              <span class="pull-left hidden-xs">EGP</span>
              {{ row.balance|number_format }} 
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block content %}
  {{ parent() }}
  <div style="height: 50px;"></div>
{% endblock %}
  