{% if accounts|length %}
  {% set hideEmpty = true %}
  {% if costOfLife.monthly > 0 %}
    {% set plan = costOfLife.monthly %}
    <div class="progress">
      {% set per = (issued/plan)*100 %}
      {% if per < 100 %}
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ per }}%">EGP {{ issued }}</div>
        <div class="progress-bar progress-bar-{{ (19 - "now"|date("d")) > 10 ?"warning":"danger" }}" role="progressbar" style="width:{{ 100 - ((issued/plan)*100) }}%">EGP {{ plan - issued }}</div>
      {% else %}
        {% set per = (100/per)*100%}
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ per }}%" title='EGP {{ plan }}'>EGP {{ plan }}</div>
        <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ 100 - per }}%" title='EGP {{ issued - plan }}'>EGP {{ issued - plan }}</div>
        <div class="progress-bar progress-bar-{{ (19 - "now"|date("d")) > 10 ?"warning":"danger" }}" role="progressbar" style="width:{{ 100 - ((issued/plan)*100) }}%">EGP {{ plan - issued }}</div>
      {% endif %}
    </div>
  {% endif %}
  {% include 'AppBundle:accounts:accounts_list.html.twig' %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
          {% for currency in costOfLife.currencies %}
          <th>{{ currency.code }}</th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for key,col in costOfLife.col %}
        <tr>
          <td>{{ key|capitalize }}</td>
          {% for code, value in col %}
            <td class="text-right"><span class="pull-left">{{ code|upper }} </span> {{ value|number_format }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-center">USD {{ costOfLife.col['day']['USD'] }} Per Day</td>
      </tr>
    </tfoot>
  </table>
  <div id="taskCompletionGraph" style="width: 100%;height: 400px;"></div>
  <div id="tasksByPriority" style="width: 100%;height: 400px;"></div>
{% endif %}
