{% extends 'base.html.twig' %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}
{% block title %}Dashboard{% endblock %}
{# TODO: http://bootsnipp.com/user/favorites #}
{% block container %}
  <div class="floating-action dropup">
    <a class="btn btn-info dropdown-toggle" type="button" id="dahboardMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <ul class="dropdown-menu floating-actions" aria-labelledby="dahboardMenuButton">
      <li><a href="{{ path('tasks_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-check"></span></a></li>
      <li><a href="{{ path('tasklists_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-list-alt"></span></a></li>
      <li><a href="{{ path('days_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-th-large"></span></a></li>
      <li><a href="{{ path('accounts_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-piggy-bank"></span></a></li>
      <li><a href="{{ path('accounttransactions_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-transfer"></span></a></li>
      <li><a href="{{ path('notes_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-pushpin"></span></a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      {% include 'AppBundle:default:taskLists.html.twig' %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      {% include 'AppBundle:default:accounts.html.twig' %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      {% if days|length %}
        {% include 'AppBundle:days:days_list.html.twig' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function taskCompletionByDay() {
      var data = google.visualization.arrayToDataTable([
        ['Day', 'Tasks'],{% for t ,i in tskCnt %}{% if(t) %}
        ['{{t|slice(0, 3)|upper}}', {{i}}],{% endif %}{% endfor %}
      ]);
      var options = {
        legend: 'none',
        pieSliceText: 'label',
        pieHole: 0.4,
        backgroundColor: 'transparent',
        pieSliceBorderColor: '#222222',
      };
      var chart = new google.visualization.PieChart(document.getElementById('taskCompletionGraph'));
      chart.draw(data, options);
    }
    function tasksByPriority() {
      var data = google.visualization.arrayToDataTable([['TaskType', 'TaskCount'],{% for key,i in piechart %} ['{{ key }}', {{ i }}],{% endfor %} ]);
      var options = {
        legend: 'none',
        pieSliceText: 'value',
        backgroundColor: 'transparent',
        pieSliceBorderColor: '#222222',
        slices: {
          0: {color: '#f39c12'},
          1: {color: '#f39c12'},
          2: {color: '#e74c3c'},
          3: {color: '#375a7f'},
          4: {color: '#464545'}
        }
      };
      var chart = new google.visualization.PieChart(document.getElementById('tasksByPriority'));
      chart.draw(data, options);
    }

    function drawChart() {
      taskCompletionByDay();
      tasksByPriority();

    }
    $(window).resize(function () {
      drawChart();
    });
  </script>
{% endblock %}