{% extends 'base.html.twig' %}
{% import "AppBundle:tasks:tasks_macros.html.twig" as tasks_view %}

{% block title %}Focus{% endblock %}
{% block nav %}{% endblock %}
{% block container %}
  <div class="floating-action">
    <a href="{{ path('dashboard') }}" class="bg-embed">
      Dashboard</a>
    <a href="{{ (taskList is defined) ? path('focus_tasklist', {'name': taskList.name}) : path('focus') }}" 
       class="bg-embed">
      Refresh</a>
    <a class="btn btn-secondary" href="{{ path('tasks_new')}}">
      +</a>
  </div>

  <div class="container">
    {{ tasks_view.ul(completed, 'completed') }}
    {{ tasks_view.ul(tasks, 'tasks' ) }}
  </div>

{% endblock %}
