{% extends 'base.html.twig' %}
{% import "macros/forms.html.twig" as forms %}
{% import "macros/a.html.twig" as a %}
{% block panelBack %}{{ a.back('item_index') }}{% endblock %}
{% block panelTitle %}Item: {{ item.title }}{% endblock %}
{% block panelHeadingRight %}
    {{ a.edit('item_edit', {'id':item.id}) }}
    {{ include('item/_delete_form.html.twig') }}
{#    {{ forms.delete(delete_form) }}#}
{% endblock %}

{% block panelBody %}
{#    TODO: widgets #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ item.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ item.priority }}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ item.sort }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ item.type }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
