{{ form_start(form) }}
<div class="card-body">
    {{ form_row(form.task) }}
    <div class="d-flex justify-content-between">
        {{ form_row(form.priority) }}
        {{ form_row(form.urgency) }}
    </div>
    <div class="d-flex justify-content-between">
        {{ form_row(form.est) }}
        {{ form_row(form.eta) }}
    </div>
</div>
<div class="card-footer text-right">
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
