{% extends 'base.html.twig' %}
{% import "macros/a.html.twig" as a %}
{% block floatingActions %}
  {{ a.add('rate_new') }}
  {{ a.linkGlyph('primary', 'Increase', 'rate_increase_all') }}
{% endblock %}
{% block title %}Rates{% endblock %}
{% block panelTitle %}Rates{% endblock %}
{% block panelBody %}
  <div class="row">
    <div class="col">
      {% include 'AppBundle:default:costOfLife.html.twig' %}
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Rate</th>
            <th>Note</th>
            <th>Active</th>
            <th>Createdat</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for rate in rates %}
            <tr>
              <td>{{ rate.client.name }}</td>
              <td>{{ rate.rate }}</td>
              <td>{{ rate.note }}</td>
              <td>{% if rate.active %}Yes{% else %}No{% endif %}</td>
              <td>{% if rate.createdAt %}{{ rate.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
              <td>
                <div class="btn-group">
                  {{ a.show('rate_show', { 'id': rate.id }) }}
                  {{ a.edit('rate_edit', { 'id': rate.id }) }}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}